In [1]:
import os
import json
import csv
import requests
import folium
import googlemaps
import pandas as pd
import xlrd
import openpyxl
import seaborn as sns
import numpy as np
import platform

%matplotlib notebook
import matplotlib.pyplot as plt
import warnings
from matplotlib import font_manager, rc

In [2]:
# 주피터 에러 메시지 제거
warnings.filterwarnings(action='ignore')

In [3]:
# Plot 한글 지원
plt.rcParams['axes.unicode_minus'] = False
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system() == 'Linux':
    path = "/usr/share/fonts/NanumGothic.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    plt.rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [4]:
# Google map api key setting
gmaps_key = "AIzaSyDpRyFn3f1W98-xahuC5_qLE7HKI4k30Qw"
gmaps = googlemaps.Client(key=gmaps_key)

In [72]:
# 3대천왕 sheet 가져와서 전처리하기 
baek = pd.read_excel("C:/source/bigdata-final/resources/맛집_총취합.xlsx","백종원의3대천왕",engine='openpyxl')
baek.head()

    백종원의3대천왕 Unnamed: 1            Unnamed: 2
0        식당명         음식                    주소
1      송현불고기        불고기   전라남도 나주시 대호동 311-33
2    쌍다리돼지불백       돼지불백   서울특별시 성북구 성북동 109-2
3  성북동 돼지갈비집       돼지불백   서울특별시 성북구 성북동 114-2
4       산골농원       닭볶음탕  경기도 가평군 설악면 가일리 86-1

In [73]:
baek.rename(columns={'백종원의3대천왕':'식당명',\
                        'Unnamed: 1':'대표메뉴',\
                        'Unnamed: 2':'주소'}, inplace=True)
baek.head()

         식당명  대표메뉴                    주소
0        식당명    음식                    주소
1      송현불고기   불고기   전라남도 나주시 대호동 311-33
2    쌍다리돼지불백  돼지불백   서울특별시 성북구 성북동 109-2
3  성북동 돼지갈비집  돼지불백   서울특별시 성북구 성북동 114-2
4       산골농원  닭볶음탕  경기도 가평군 설악면 가일리 86-1

In [77]:
# 첫번째 행 날리기 
baek.drop([0], inplace=True)

In [78]:
baek.head()

         식당명  대표메뉴                    주소
1      송현불고기   불고기   전라남도 나주시 대호동 311-33
2    쌍다리돼지불백  돼지불백   서울특별시 성북구 성북동 109-2
3  성북동 돼지갈비집  돼지불백   서울특별시 성북구 성북동 114-2
4       산골농원  닭볶음탕  경기도 가평군 설악면 가일리 86-1
5      구군계닭집  닭볶음탕    경기도 평택시 합정동 922-11

In [79]:
baek['주소'].str[:5]

1      전라남도
2      서울특별시
3      서울특별시
4      경기도 가
5      경기도 평
       ...
345    경기 포천
346    서울특별시
347    경북 대구
348    서울특별시
349    전라남도
Name: 주소, Length: 349, dtype: object

In [83]:
# 서울 지역만 추출
seoul = baek['주소'].str[:5] == '서울특별시'
baek_seoul = baek[seoul]

In [84]:
baek_seoul.head()

          식당명  대표메뉴                               주소
2     쌍다리돼지불백  돼지불백              서울특별시 성북구 성북동 109-2
3   성북동 돼지갈비집  돼지불백              서울특별시 성북구 성북동 114-2
7          계림  닭볶음탕               서울특별시 종로구 종로3가 167
11    마포원조떡볶이   떡볶이              서울특별시 마포구 도화동 345-4
18       서린낙지  낙지볶음  서울특별시 종로구 종로1가 24 르메이에르 종로타운 2층

In [89]:
baek_seoul.reset_index(inplace=True)

In [90]:
baek_seoul.head()

   index        식당명  대표메뉴                               주소
0      2    쌍다리돼지불백  돼지불백              서울특별시 성북구 성북동 109-2
1      3  성북동 돼지갈비집  돼지불백              서울특별시 성북구 성북동 114-2
2      7         계림  닭볶음탕               서울특별시 종로구 종로3가 167
3     11    마포원조떡볶이   떡볶이              서울특별시 마포구 도화동 345-4
4     18       서린낙지  낙지볶음  서울특별시 종로구 종로1가 24 르메이에르 종로타운 2층

In [91]:
baek_seoul.drop(['index'], axis=1, inplace=True)
baek_seoul

          식당명         대표메뉴                               주소
0     쌍다리돼지불백         돼지불백              서울특별시 성북구 성북동 109-2
1   성북동 돼지갈비집         돼지불백              서울특별시 성북구 성북동 114-2
2          계림         닭볶음탕               서울특별시 종로구 종로3가 167
3     마포원조떡볶이          떡볶이              서울특별시 마포구 도화동 345-4
4        서린낙지         낙지볶음  서울특별시 종로구 종로1가 24 르메이에르 종로타운 2층
..        ...          ...                              ...
86       뭄알로이        태국 요리          서울특별시 마포구 상수동 93-113 2층
87     포춘레스토랑       러시아 요리          서울특별시 중구 광희동1가 250-1 2층
88    마라케쉬나이트       모로코 요리            서울특별시 용산구 이태원동 127-12
89      신촌칼국수          칼국수              서울특별시 마포구 노고산동 40-9
90         서궁  오향장육 쇠고기군만두     서울특별시 영등포구 여의도동 43-3 홍우빌딩 1층

[91 rows x 3 columns]

In [92]:
wed = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","수요미식회",engine='openpyxl')
wed.head()

    수요미식회 Unnamed: 1             Unnamed: 2
0     식당명         음식                     주소
1    모닥식탁         카레  제주도 제주시 조천읍 함덕리 998-1
2  대치정육식당         등심    서울특별시강남구 대치4동 911-8
3    투뿔등심         등심    서울특별시 강남구 신사동 532-9
4     새벽집        소고기   서울특별시 강남구 청담동 129-10

In [93]:
wed.rename(columns={'수요미식회':'식당명',\
                        'Unnamed: 1':'대표메뉴',\
                        'Unnamed: 2':'주소'}, inplace=True)
wed.head()

      식당명 대표메뉴                     주소
0     식당명   음식                     주소
1    모닥식탁   카레  제주도 제주시 조천읍 함덕리 998-1
2  대치정육식당   등심    서울특별시강남구 대치4동 911-8
3    투뿔등심   등심    서울특별시 강남구 신사동 532-9
4     새벽집  소고기   서울특별시 강남구 청담동 129-10

In [94]:
# 첫번째 행 날리기 
wed.drop([0], inplace=True)

In [96]:
wed.head()

      식당명 대표메뉴                     주소
1    모닥식탁   카레  제주도 제주시 조천읍 함덕리 998-1
2  대치정육식당   등심    서울특별시강남구 대치4동 911-8
3    투뿔등심   등심    서울특별시 강남구 신사동 532-9
4     새벽집  소고기   서울특별시 강남구 청담동 129-10
5    대도식당  소고기      서울특별시 성동구 홍익동 431

In [99]:
seoul = wed['주소'].str[:5] == '서울특별시'
wed_seoul = wed[seoul]

In [100]:
wed_seoul.head()

      식당명  대표메뉴                    주소
2  대치정육식당    등심   서울특별시강남구 대치4동 911-8
3    투뿔등심    등심   서울특별시 강남구 신사동 532-9
4     새벽집   소고기  서울특별시 강남구 청담동 129-10
5    대도식당   소고기     서울특별시 성동구 홍익동 431
8     통일집  한우등심    서울특별시 중구 을지로3가 202

In [101]:
wed_seoul.reset_index(inplace=True)
wed_seoul.head()

   index     식당명  대표메뉴                    주소
0      2  대치정육식당    등심   서울특별시강남구 대치4동 911-8
1      3    투뿔등심    등심   서울특별시 강남구 신사동 532-9
2      4     새벽집   소고기  서울특별시 강남구 청담동 129-10
3      5    대도식당   소고기     서울특별시 성동구 홍익동 431
4      8     통일집  한우등심    서울특별시 중구 을지로3가 202

In [102]:
wed_seoul.drop(['index'], axis=1, inplace=True)
wed_seoul

         식당명  대표메뉴                                          주소
0     대치정육식당    등심                         서울특별시강남구 대치4동 911-8
1       투뿔등심    등심                         서울특별시 강남구 신사동 532-9
2        새벽집   소고기                        서울특별시 강남구 청담동 129-10
3       대도식당   소고기                           서울특별시 성동구 홍익동 431
4        통일집  한우등심                          서울특별시 중구 을지로3가 202
..       ...   ...                                         ...
385    소금집델리  샌드위치              서울특별시 마포구 월드컵로19길 14 망원동 57-38
386    카사블랑카  샌드위치                 서울특별시 용산구 신흥로 35 용산동2가 44-7
387  썬댄스플레이스  샌드위치            서울특별시특별시 용산구 소월로 268 이태원동 260-18
388      만두라    만두  서울특별시특별시 금천구 시흥대로 97 시흥동 984 시흥유통상가 BB 53호
389     빠오즈푸    만두            서울특별시특별시 광진구 광나루로 373 군자동 361-32

[390 rows x 3 columns]

In [103]:
# 최자로드 데이터 전처리
choiza = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","최자로드",engine='openpyxl')
choiza.head()

        최자로드   Unnamed: 1                         Unnamed: 2
0        식당명           음식                                 주소
1       산골면옥        쟁반막국수       서울특별시 중구 을지로 4가 60 을지로 175-5
2       산수갑산      순대, 순대국      서울특별시 중구 을지로20길 24 인현동1가 15-4
3  모퉁이우 ripe      한우 오마카세  서울특별시 강남구 영동대로96길 26 삼성동 169-8 9층
4      하나모코시  토리소바(닭육수라멘)   서울특별시 용산구 백범로87길 50-1 원효로1가 43-3

In [104]:
choiza.rename(columns={'최자로드':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
choiza.head()

         식당명         대표메뉴                                 주소
0        식당명           음식                                 주소
1       산골면옥        쟁반막국수       서울특별시 중구 을지로 4가 60 을지로 175-5
2       산수갑산      순대, 순대국      서울특별시 중구 을지로20길 24 인현동1가 15-4
3  모퉁이우 ripe      한우 오마카세  서울특별시 강남구 영동대로96길 26 삼성동 169-8 9층
4      하나모코시  토리소바(닭육수라멘)   서울특별시 용산구 백범로87길 50-1 원효로1가 43-3

In [105]:
choiza.drop([0], inplace=True)
choiza.head()

         식당명         대표메뉴                                 주소
1       산골면옥        쟁반막국수       서울특별시 중구 을지로 4가 60 을지로 175-5
2       산수갑산      순대, 순대국      서울특별시 중구 을지로20길 24 인현동1가 15-4
3  모퉁이우 ripe      한우 오마카세  서울특별시 강남구 영동대로96길 26 삼성동 169-8 9층
4      하나모코시  토리소바(닭육수라멘)   서울특별시 용산구 백범로87길 50-1 원효로1가 43-3
5      대머리식당         제육볶음        서울특별시 성북구 돌곶이로 162 장위동 75-1

In [106]:
seoul = choiza['주소'].str[:5] == '서울특별시'
choiza_seoul = choiza[seoul]

In [107]:
choiza_seoul

              식당명                대표메뉴                                   주소
1            산골면옥               쟁반막국수         서울특별시 중구 을지로 4가 60 을지로 175-5
2            산수갑산             순대, 순대국        서울특별시 중구 을지로20길 24 인현동1가 15-4
3       모퉁이우 ripe             한우 오마카세    서울특별시 강남구 영동대로96길 26 삼성동 169-8 9층
4           하나모코시         토리소바(닭육수라멘)     서울특별시 용산구 백범로87길 50-1 원효로1가 43-3
5           대머리식당                제육볶음          서울특별시 성북구 돌곶이로 162 장위동 75-1
6         줘마양다리구이                 양다리     서울특별시 영등포구 도림천로11길 13 대림동 1056-7
7          월래순교자관            군만두, 소룡포     서울특별시 구로구 가리봉동 131-22 디지털로19길 12
8             볼라레             마리나라 피자  서울특별시 서초구 사평대로20길 8, 반포동 107-2 성훈빌딩
9       사랑방참숯화로구이                 삼겹살                   서울특별시 용산구 신흥로36길 4
10       신사시장 떡볶기       떡볶기, 김말이, 순댓국        서울특별시 강남구 압구정로29길 72-1 신사시장 내
11          에베레스트    팔락 퍼니르, 치킨 티카마살라                 서울특별시 종로구 종로51가길 2-1
12           만선호프            노가리, 번데기                   서울특별시 중구 을지로13길 19
13            미라이        마구로 치즈, 사바산도                 서울특별시 강남구 논현로153길 24
14       홍제동 우동국수  부추 우동, 순두부 우동, 오돌뼈                   서울특별시 은평구 서오릉로 242
15  진옥화할매 원조 닭한마리                닭한마리                  서울특별시 종로구 종로40가길 18
16            태극당     모나카 아이스크림, 카스테라                    서울특별시 중구 동호로24길 7
17          금산제면소                 탄탄면                    서울특별시 중구 소공로6길 13
18           호우시절                오마카세                 서울특별시 강남구 도산대로27길 16
19          알 아지즈                  케밥                 서울특별시 용산구 우사단로10길 11
21           안주나라           홍어삼합, 백합탕                  서울특별시 광진구 동일로18길 23
22        어머니 대성집     밥을 말아먹는 해장국, 육회                 서울특별시 동대문구 무학로43길 44

In [108]:
# 영자로드 데이터 전처리 
youngja = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","영자로드",engine='openpyxl')
youngja.head()

     영자로드      Unnamed: 1                                 Unnamed: 2
0     식당명              음식                                         주소
1   고봉삼계탕             삼계탕                 서울특별시 강남구 봉은사로 524 삼성동 159
2  돝고기506      숙성 삼겹살 #목살             서울특별시 강남구 역삼로17길 53 역삼동 739-13
3     송쉐프       옛날볶음밥 #짬뽕             서울특별시 강남구 도산대로1길 40 신사동 507-11
4   강릉휴게소  초당두부황태해장국 #알감자  강원도 강릉시 성산면 영동고속도로 231 강릉상휴게소 성산면 보광리 103

In [109]:
youngja.rename(columns={'영자로드':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
youngja.head()

      식당명            대표메뉴                                         주소
0     식당명              음식                                         주소
1   고봉삼계탕             삼계탕                 서울특별시 강남구 봉은사로 524 삼성동 159
2  돝고기506      숙성 삼겹살 #목살             서울특별시 강남구 역삼로17길 53 역삼동 739-13
3     송쉐프       옛날볶음밥 #짬뽕             서울특별시 강남구 도산대로1길 40 신사동 507-11
4   강릉휴게소  초당두부황태해장국 #알감자  강원도 강릉시 성산면 영동고속도로 231 강릉상휴게소 성산면 보광리 103

In [110]:
youngja.drop([0], inplace=True)
youngja.head()

      식당명            대표메뉴                                         주소
1   고봉삼계탕             삼계탕                 서울특별시 강남구 봉은사로 524 삼성동 159
2  돝고기506      숙성 삼겹살 #목살             서울특별시 강남구 역삼로17길 53 역삼동 739-13
3     송쉐프       옛날볶음밥 #짬뽕             서울특별시 강남구 도산대로1길 40 신사동 507-11
4   강릉휴게소  초당두부황태해장국 #알감자  강원도 강릉시 성산면 영동고속도로 231 강릉상휴게소 성산면 보광리 103
5   금강휴게소        도리뱅뱅이 정식           충청북도 옥천군 동이면 금강로 596 휴게소 조령리 576

In [111]:
seoul = youngja['주소'].str[:5] == '서울특별시'
youngja_seoul = youngja[seoul]

In [112]:
youngja_seoul

,식당명,대표메뉴,주소
1,고봉삼계탕,삼계탕,서울특별시 강남구 봉은사로 524 삼성동 159
2,돝고기506,숙성 삼겹살 #목살,서울특별시 강남구 역삼로17길 53 역삼동 739-13
3,송쉐프,옛날볶음밥 #짬뽕,서울특별시 강남구 도산대로1길 40 신사동 507-11
7,진주집,냉콩국수,서울특별시 영등포구 국제금융로6길 33 여의도동 36-2
8,홍미닭발,통닭발,서울특별시 강남구 강남대로 628 신사동 502-1 신사빌딩 1층
9,문타로,닭꼬치 10종세트,서울특별시 용산구 이태원로 230-1 한남동 683-124
10,굴다리식당,김치찌개 #계란말이,서울특별시 마포구 새창로 8-1 도화동 181-45
11,뉴만두집,만두전골 #만둣굿,서울특별시 강남구 압구정로 338 신사동 661-1
12,동해대구탕,대구탕,서울특별시 영등포구 여의나루로 57 여의도동 25-12 신송센터 빌딩 지하1층
14,이두부야,서리태콩물,서울특별시 은평구 연서로 257 1층 불광동 314-34
16,역전회관,바싹불고기,서울특별시 마포구 토정로37길 47 염리동 173-21
17,진대감,차돌박이 #차돌삼합,서울특별시 마포구 마포대로12길 54-2 공덕동 249-61
18,영천영화,욱회비빔밥 #한우갈비살,서울특별시 강남구 도산대로90길 3 청담동 50-13 상민빌딩
19,앞마당,바지락칼국수 #부추전,서울특별시 마포구 성지길 30 합정동 375-5
20,서울 만남의 광장,말죽거리소고기국밥,서울특별시 서초구 양재대로12길 73-71 만남의광장 원지동 10-16
25,마로화적,양념 소갈비 #돼지본스테이크,서울특별시 종로구 성균관로16길 5 명륜1가 31-7
26,연타발,특양구이 #한우 대창구이,서울특별시 강남구 도산대로 231 신사동 629-32
27,국민한우 민소,한우모듬세트,서울특별시 영등포구 국제금융로2길 37 여의도동 26 에스트레뉴 지하1층
30,돌곰네,문어비빔밥,서울특별시 강남구 언주로146길 18 논현동 105 동현아파트 6동
33,소이연남,씀땀 #소고기국수,서울특별시 용산구 한남대로20길 47-10 한남동 31-5 리플레이스 한남 C동 2층
34,밥한끼,토마토치즈제육덮밥,서울특별시 용산구 독서당로 65-3 한남동 72-17
35,선학쭈꾸미,쭈꾸미정식,서울특별시 강남구 도산대로 514 청담동 49-8
36,짱곱창,야채곱창,서울특별시 강북구 솔매로 117-1 미아동 211-7
37,다오래골뱅이,스페셜 골뱅이 #치킨+골뱅이,서울특별시 양천구 목동동로10길 16-5 신정동 134-25 태우빌딩
38,신송한식,대구탕,서울특별시 영등포구 여의나루로 67 여의도동 25-6 신송빌딩
39,원조기사님분식,즉석우동 #짜장면,서울특별시 마포구 대흥동 139-6
40,진미식당,간장게장정식,서울특별시 마포구 마포대로 186-6 공덕동 105-127 선화의원
41,뒤푸리,대구탕,서울특별시 영등포구 은행로 29 여의도동 13-25 정우빌딩
42,소바야청담,메밀국수,서울특별시 용산구 이촌로 303 이촌동 301-160 현대맨숀
43,바나나그릴,클래식버거,서울특별시 용산구 독서당로 67 한남동 261-6
46,현대기사식당,북어찜,서울특별시 강남구 논현로85길 5-4 역삼동 738-5
48,트리아농,마닐라 망고 #코코화이트,서울특별시 강남구 학동로59길 43 청담동 26-5
49,하회마을,닭매운탕,서울특별시 마포구 어울마당로 122-1 서교동 346-42 지하1층
52,한남동 한방통닭,한방통닭,서울특별시 용산구 대사관로34길 38 한남동 618-6
53,종로진낙지,산낙지 철판볶음,서울특별시 종로구 수표로 122 낙원동 139
54,곱,한우황소 곱창 #모듬구이,서울특별시 마포구 도화길 31-1 도화동 179-11
55,유니크디저트,유니크마카롱,서울특별시 마포구 와우산로 159 서교동 326-10 1층
56,밥해주는남자,차돌떡볶이 #통오징어떡볶이,서울특별시 마포구 성미산로 152 연남동 239-48
57,이태리총각,비프 까르파치오,서울특별시 종로구 자하문로9길 11 통인동 137-7
58,오통영,메셍이굴국밥,서울특별시 용산구 이촌동 300-3 렉스상가 12-2
59,부자피자 1호점,부자 클라시카 피자,서울특별시 용산구 이태원로55가길 28 한남동 743-33 1층 부자피자
60,토속촌삼계탕,토속촌삼계탕,서울특별시 종로구 자하문로5길 5 체부동 85-1 토속촌
61,마녀김밥,미녀김밥,서울특별시 강남구 압구정로79길 32 청담동 124-11
62,속초코다리냉면,코다리냉면,서울특별시 강남구 압구정로 343 압구정동 494 갤러리아백화점명품관WEST B1
63,브루클린 더버거 조인트,브루클린웍스,서울특별시 강남구 봉은사로84길 10 삼성동 146-23
64,세미계,닭목살,"서울특별시 용산구 대사관로 34, 한남동 653-95"
66,돈까스잔치,잔치국수 #비빔국수,서울특별시 용산구 서빙고로 297 동빙고동94
67,남도분식,빨콩떡볶이 #상추튀김,서울특별시 종로구 옥인길 33 누상동 52-2
68,사대부집 곳간,마떡갈비 구이 반상,"서울특별시 영등포구 여의대로 24 여의도동 28-1 전경련회관 50, 51F"
69,동빙고,팥빙수,서울특별시 용산구 이촌로 319 이촌동 301-162 현대아파트
70,플로이,세트타르틴,서울특별시 종로구 필운대로 17 필운동 90-1
71,더루시파이키친,초콜렛 머드파이,서울특별시 용산구 이촌로 182 이촌동 302-68 풍원상가 1F
73,아우어베이커리,플랫화이트,서울특별시 강남구 도산대로 45길 10-11 신사동 648-15 JYC2빌딩
74,코끼리만두,김치만두,서울특별시 강서구 공항대로51길 27 등촌동 654-78
75,오모리찌개,오모리찌개 #옛날 손짜장,서울특별시 송파구 송파대로 471 석촌동 183-3
76,진도리 닭도리탕,오리지날 진도리,서울특별시 강남구 강남대로122길 15 논현동 163-17 상당빌딩
77,창화당,모둠만두 #떡볶이,서울특별시 종로구 수표로28길 23 익선동 174 1층
78,숙자네,대구탕 #황태북어국,서울특별시 영등포구 국제금융로 6길 33 여의도동 36-2 여의도백화점 지하 1층

In [113]:
youngja_seoul.reset_index(inplace=True)
youngja_seoul.head()

   index     식당명        대표메뉴                                    주소
0      1   고봉삼계탕         삼계탕            서울특별시 강남구 봉은사로 524 삼성동 159
1      2  돝고기506  숙성 삼겹살 #목살        서울특별시 강남구 역삼로17길 53 역삼동 739-13
2      3     송쉐프   옛날볶음밥 #짬뽕        서울특별시 강남구 도산대로1길 40 신사동 507-11
3      7     진주집        냉콩국수       서울특별시 영등포구 국제금융로6길 33 여의도동 36-2
4      8    홍미닭발         통닭발  서울특별시 강남구 강남대로 628 신사동 502-1 신사빌딩 1층

In [114]:
youngja_seoul.drop(['index'], axis=1, inplace=True)
youngja_seoul.head()

      식당명        대표메뉴                                    주소
0   고봉삼계탕         삼계탕            서울특별시 강남구 봉은사로 524 삼성동 159
1  돝고기506  숙성 삼겹살 #목살        서울특별시 강남구 역삼로17길 53 역삼동 739-13
2     송쉐프   옛날볶음밥 #짬뽕        서울특별시 강남구 도산대로1길 40 신사동 507-11
3     진주집        냉콩국수       서울특별시 영등포구 국제금융로6길 33 여의도동 36-2
4    홍미닭발         통닭발  서울특별시 강남구 강남대로 628 신사동 502-1 신사빌딩 1층

In [119]:
# 오래된 한식당 100 전처리
old100 = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","오래된 한식당 100",engine='openpyxl')
old100.head()

  오래된 한식당 100 Unnamed: 1 Unnamed: 2          Unnamed: 3
0         식당명         음식       시작연도                  주소
1      이문 설농탕        설렁탕       1904    서울특별시 종로구 견지동 88
2         하얀집      곰탕,수육       1910    전남 나주시 중앙동 48-17
3        내호냉면       함흥냉면       1919  부산 남구 우암2동 189-571
4         박달집      전통개장국       1920      부산 금정구 금샘로 377

In [120]:
old100.rename(columns={'오래된 한식당 100':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'시작연도',\
                      'Unnamed: 3':'주소'}, inplace=True)
old100.head()

      식당명   대표메뉴  시작연도                  주소
0     식당명     음식  시작연도                  주소
1  이문 설농탕    설렁탕  1904    서울특별시 종로구 견지동 88
2     하얀집  곰탕,수육  1910    전남 나주시 중앙동 48-17
3    내호냉면   함흥냉면  1919  부산 남구 우암2동 189-571
4     박달집  전통개장국  1920      부산 금정구 금샘로 377

In [121]:
old100.drop([0],inplace=True)
old100.head()

      식당명   대표메뉴  시작연도                  주소
1  이문 설농탕    설렁탕  1904    서울특별시 종로구 견지동 88
2     하얀집  곰탕,수육  1910    전남 나주시 중앙동 48-17
3    내호냉면   함흥냉면  1919  부산 남구 우암2동 189-571
4     박달집  전통개장국  1920      부산 금정구 금샘로 377
5     안일옥    설렁탕  1920      경기 안성시 영동 25-1

In [122]:
seoul = old100['주소'].str[:5] == '서울특별시'
old100_seoul = old100[seoul]

In [123]:
old100_seoul

            식당명     대표메뉴  시작연도                               주소
1        이문 설농탕      설렁탕  1904                 서울특별시 종로구 견지동 88
8        형제 추어탕      추어탕  1926              서울특별시 종로구 평창동 281-1
14          용금옥       추탕  1932                서울특별시 중구 다동 165-1
15         은호식당     꼬리토막  1932               서울특별시 중구 남창동 50-43
16         곰보추탕       추탕  1933             서울특별시 동대문구 용신동 767-6
17          잼배옥      설렁탕  1933               서울특별시 중구 서소문동 64-4
19          청진옥      해장국  1937                서울특별시 종로구 종로1가 24
21          하동관       곰탕  1939               서울특별시 중구 명동1가 10-4
22   한일관(서울특별시)  불고기, 냉면  1939              서울특별시 강남구 신사동 619-4
25          옥천옥      설렁탕  1941             서울특별시 동대문구 신설동 94-57
35          우래옥     평양냉면  1946               서울특별시 중구 주교동 118-1
37          부여집     꼬리곰탕  1947         서울특별시 영등포구 당산동 2가 162-13
38         강서면옥     평양냉면  1948             서울특별시 중구 서소문동 120-15
39          옥돌집      불고기  1948               서울특별시 성북구 길음동 1065
44      명동 할매낙지     낙지백반  1950              서울특별시 중구 명동 2가 31-7
45          진주집     꼬리곰탕  1950               서울특별시 중구 남창동 34-31
54          문화옥      설렁탕  1952               서울특별시 중구 주교동 118-3
60        연남서식당      소갈비  1953            서울특별시 마포구 노고산동 109-69
74  마포 진짜원조 최대포     돼지갈비  1956              서울특별시 마포구 공덕동 255-5
77          열차집      빈대떡  1956              서울특별시 종로구 공평동 130-1
79  삼거리 먼지막 순대국      순대국  1957            서울특별시 영등포구 대림1동 963-9
84     오장동 함흥냉면       냉면  1958               서울특별시 중구 오장동 90-10
86       태조 감자국      감자국  1958           서울특별시 성북구 동소문동 5가 73-2
89      전주 중앙회관    곱돌비빕밥  1959             서울특별시 중구 충무로1가 24-11
90        고려삼계탕      삼계탕  1960               서울특별시 중구 서소문동 55-3
92      함흥 곰보냉면       냉면  1960  서울특별시 종로구 인의동 112-14 세운스퀘어 401호
94         역전회관    바싹불고기  1962             서울특별시 마포구 염리동 173-21
95         진주회관      콩국수  1962             서울특별시 중구 서소문동 120-35

In [124]:
old100_seoul.reset_index(inplace=True)
old100_seoul.head()

   index     식당명  대표메뉴  시작연도                    주소
0      1  이문 설농탕   설렁탕  1904      서울특별시 종로구 견지동 88
1      8  형제 추어탕   추어탕  1926   서울특별시 종로구 평창동 281-1
2     14     용금옥    추탕  1932     서울특별시 중구 다동 165-1
3     15    은호식당  꼬리토막  1932    서울특별시 중구 남창동 50-43
4     16    곰보추탕    추탕  1933  서울특별시 동대문구 용신동 767-6

In [125]:
old100_seoul.drop(['index'], axis=1, inplace=True)
old100_seoul.head()

      식당명  대표메뉴  시작연도                    주소
0  이문 설농탕   설렁탕  1904      서울특별시 종로구 견지동 88
1  형제 추어탕   추어탕  1926   서울특별시 종로구 평창동 281-1
2     용금옥    추탕  1932     서울특별시 중구 다동 165-1
3    은호식당  꼬리토막  1932    서울특별시 중구 남창동 50-43
4    곰보추탕    추탕  1933  서울특별시 동대문구 용신동 767-6

In [128]:
old100_seoul.drop(['시작연도'], axis=1, inplace=True)
old100_seoul.head()

      식당명  대표메뉴                    주소
0  이문 설농탕   설렁탕      서울특별시 종로구 견지동 88
1  형제 추어탕   추어탕   서울특별시 종로구 평창동 281-1
2     용금옥    추탕     서울특별시 중구 다동 165-1
3    은호식당  꼬리토막    서울특별시 중구 남창동 50-43
4    곰보추탕    추탕  서울특별시 동대문구 용신동 767-6

In [129]:
# 식객 전처리
sikgaek = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","식객",engine='openpyxl')
sikgaek.head()

       식객 Unnamed: 1           Unnamed: 2
0     식당명         음식                   주소
1     하동관         곰탕     서울특별시 중구 명동9길 12
2    오뎅식당       부대찌개  경기 의정부시 호국로1309번길 7
3  참누렁소가든        소고기  서울특별시 노원구 공릉로63길 13
4    사직분식        청국장     서울특별시 중구 소공로 100

In [130]:
sikgaek.rename(columns={'식객':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
sikgaek.head()

      식당명  대표메뉴                   주소
0     식당명    음식                   주소
1     하동관    곰탕     서울특별시 중구 명동9길 12
2    오뎅식당  부대찌개  경기 의정부시 호국로1309번길 7
3  참누렁소가든   소고기  서울특별시 노원구 공릉로63길 13
4    사직분식   청국장     서울특별시 중구 소공로 100

In [131]:
sikgaek.drop([0], inplace=True)
sikgaek.head()

         식당명  대표메뉴                   주소
1        하동관    곰탕     서울특별시 중구 명동9길 12
2       오뎅식당  부대찌개  경기 의정부시 호국로1309번길 7
3     참누렁소가든   소고기  서울특별시 노원구 공릉로63길 13
4       사직분식   청국장     서울특별시 중구 소공로 100
5  소양강 민물매운탕   NaN    서울특별시 성북구 오패산로 16

In [132]:
seoul = sikgaek['주소'].str[:5] == '서울특별시'
sikgaek_seoul = sikgaek[seoul]

In [133]:
sikgaek_seoul.head()

         식당명    대표메뉴                   주소
1        하동관      곰탕     서울특별시 중구 명동9길 12
3     참누렁소가든     소고기  서울특별시 노원구 공릉로63길 13
4       사직분식     청국장     서울특별시 중구 소공로 100
5  소양강 민물매운탕     NaN    서울특별시 성북구 오패산로 16
9        순라길  홍어, 삼합   서울특별시 종로구 서순라길 141

In [134]:
sikgaek_seoul.reset_index(inplace=True)
sikgaek_seoul.head()

   index        식당명    대표메뉴                   주소
0      1        하동관      곰탕     서울특별시 중구 명동9길 12
1      3     참누렁소가든     소고기  서울특별시 노원구 공릉로63길 13
2      4       사직분식     청국장     서울특별시 중구 소공로 100
3      5  소양강 민물매운탕     NaN    서울특별시 성북구 오패산로 16
4      9        순라길  홍어, 삼합   서울특별시 종로구 서순라길 141

In [135]:
sikgaek_seoul.drop(['index'], axis=1, inplace=True)
sikgaek_seoul.head()

         식당명    대표메뉴                   주소
0        하동관      곰탕     서울특별시 중구 명동9길 12
1     참누렁소가든     소고기  서울특별시 노원구 공릉로63길 13
2       사직분식     청국장     서울특별시 중구 소공로 100
3  소양강 민물매운탕     NaN    서울특별시 성북구 오패산로 16
4        순라길  홍어, 삼합   서울특별시 종로구 서순라길 141

In [136]:
# 맛있는녀석들 전처리
foodguys = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","맛있는녀석들",engine='openpyxl')
foodguys.head()

     맛있는녀석들 Unnamed: 1            Unnamed: 2
0       식당명         음식                    주소
1  동화펜션&유원지       오리백숙    경기 가평군 상면 임초리 42-1
2    김치테마파크         김치       경기 부천시 상동 529-2
3       설로인     한우오마카세    서울특별시 강남구 삼성동 48-4
4     대흥뚝배기       제육볶음  서울특별시 서대문구 대현동 56-33

In [137]:
foodguys.rename(columns={'맛있는녀석들':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
foodguys.head()

        식당명    대표메뉴                    주소
0       식당명      음식                    주소
1  동화펜션&유원지    오리백숙    경기 가평군 상면 임초리 42-1
2    김치테마파크      김치       경기 부천시 상동 529-2
3       설로인  한우오마카세    서울특별시 강남구 삼성동 48-4
4     대흥뚝배기    제육볶음  서울특별시 서대문구 대현동 56-33

In [138]:
seoul = foodguys['주소'].str[:5] == '서울특별시'
foodguys_seoul = foodguys[seoul]

In [139]:
foodguys_seoul.head()

      식당명    대표메뉴                      주소
3     설로인  한우오마카세      서울특별시 강남구 삼성동 48-4
4   대흥뚝배기    제육볶음    서울특별시 서대문구 대현동 56-33
5     이필당      보쌈  서울특별시 영등포구 양평동 4가 77-3
6     채근담   비건한정식       서울특별시 강남구 대치동 983
8  건대통골뱅이    골뱅이탕    서울특별시 강남구 논현동 143-26

In [140]:
foodguys_seoul.reset_index(inplace=True)
foodguys_seoul.head()

   index     식당명    대표메뉴                      주소
0      3     설로인  한우오마카세      서울특별시 강남구 삼성동 48-4
1      4   대흥뚝배기    제육볶음    서울특별시 서대문구 대현동 56-33
2      5     이필당      보쌈  서울특별시 영등포구 양평동 4가 77-3
3      6     채근담   비건한정식       서울특별시 강남구 대치동 983
4      8  건대통골뱅이    골뱅이탕    서울특별시 강남구 논현동 143-26

In [141]:
foodguys_seoul.drop(['index'], axis=1, inplace=True)
foodguys_seoul.head()

      식당명    대표메뉴                      주소
0     설로인  한우오마카세      서울특별시 강남구 삼성동 48-4
1   대흥뚝배기    제육볶음    서울특별시 서대문구 대현동 56-33
2     이필당      보쌈  서울특별시 영등포구 양평동 4가 77-3
3     채근담   비건한정식       서울특별시 강남구 대치동 983
4  건대통골뱅이    골뱅이탕    서울특별시 강남구 논현동 143-26

In [142]:
# 블루리본2017_서울 전처리
blue2017 = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","블루리본2017_서울",engine='openpyxl')
blue2017.head()

  블루리본2017_서울 Unnamed: 1            Unnamed: 2 Unnamed: 3
0         식당명         음식                    주소         별점
1       뱀부하우스      소고기구이  서울특별시 강남구 역삼동 658-10          2
2      성우서서갈비     한우 소갈비   서울특별시 마포구 용강동 45-21          2
3         필경재        한정식   서울특별시 강남구 수서동 739-1          2
4      프로간장게장         게장    서울특별시 서초구 잠원동 27-1          2

In [143]:
blue2017.rename(columns={'블루리본2017_서울':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소',\
                      'Unnamed: 3':'별점'}, inplace=True)
blue2017.head()

      식당명    대표메뉴                    주소  별점
0     식당명      음식                    주소  별점
1   뱀부하우스   소고기구이  서울특별시 강남구 역삼동 658-10   2
2  성우서서갈비  한우 소갈비   서울특별시 마포구 용강동 45-21   2
3     필경재     한정식   서울특별시 강남구 수서동 739-1   2
4  프로간장게장      게장    서울특별시 서초구 잠원동 27-1   2

In [144]:
blue2017.drop([0], inplace=True)

In [145]:
blue2017.head()

      식당명    대표메뉴                    주소 별점
1   뱀부하우스   소고기구이  서울특별시 강남구 역삼동 658-10  2
2  성우서서갈비  한우 소갈비   서울특별시 마포구 용강동 45-21  2
3     필경재     한정식   서울특별시 강남구 수서동 739-1  2
4  프로간장게장      게장    서울특별시 서초구 잠원동 27-1  2
5     곰바위      곱창  서울특별시 강남구 삼성1동 76-10  2

In [146]:
seoul = blue2017['주소'].str[:5] == '서울특별시'
blue2017_seoul = blue2017[seoul]

In [147]:
blue2017_seoul.head()

      식당명    대표메뉴                    주소 별점
1   뱀부하우스   소고기구이  서울특별시 강남구 역삼동 658-10  2
2  성우서서갈비  한우 소갈비   서울특별시 마포구 용강동 45-21  2
3     필경재     한정식   서울특별시 강남구 수서동 739-1  2
4  프로간장게장      게장    서울특별시 서초구 잠원동 27-1  2
5     곰바위      곱창  서울특별시 강남구 삼성1동 76-10  2

In [149]:
blue2017_seoul.reset_index(inplace=True)
blue2017_seoul

     level_0  index        식당명    대표메뉴                    주소 별점
0          0      1      뱀부하우스   소고기구이  서울특별시 강남구 역삼동 658-10  2
1          1      2     성우서서갈비  한우 소갈비   서울특별시 마포구 용강동 45-21  2
2          2      3        필경재     한정식   서울특별시 강남구 수서동 739-1  2
3          3      4     프로간장게장      게장    서울특별시 서초구 잠원동 27-1  2
4          4      5        곰바위      곱창  서울특별시 강남구 삼성1동 76-10  2
..       ...    ...        ...     ...                   ... ..
218      218    221         예당    퓨전한식  서울특별시 강남구 신사동 628-20  2
219      219    222      오룸다이닝     유럽식   서울특별시 강남구 청담동 22-13  2
220      220    223  올드크로와상팩토리    패스트리  서울특별시 마포구 서교동 327-44  2
221      221    224         취홍    일반중식     서울특별시 강남구 역삼동 602  2
222      222    225         키친     미국식      서울특별시 광진구 광장동 21  2

[223 rows x 6 columns]

In [150]:
blue2017_seoul.drop(['level_0', 'index'], axis=1, inplace=True)
blue2017_seoul

           식당명    대표메뉴                    주소 별점
0        뱀부하우스   소고기구이  서울특별시 강남구 역삼동 658-10  2
1       성우서서갈비  한우 소갈비   서울특별시 마포구 용강동 45-21  2
2          필경재     한정식   서울특별시 강남구 수서동 739-1  2
3       프로간장게장      게장    서울특별시 서초구 잠원동 27-1  2
4          곰바위      곱창  서울특별시 강남구 삼성1동 76-10  2
..         ...     ...                   ... ..
218         예당    퓨전한식  서울특별시 강남구 신사동 628-20  2
219      오룸다이닝     유럽식   서울특별시 강남구 청담동 22-13  2
220  올드크로와상팩토리    패스트리  서울특별시 마포구 서교동 327-44  2
221         취홍    일반중식     서울특별시 강남구 역삼동 602  2
222         키친     미국식      서울특별시 광진구 광장동 21  2

[223 rows x 4 columns]

In [152]:
blue2017_seoul.drop(['별점'], axis=1, inplace=True)
blue2017_seoul

           식당명    대표메뉴                    주소
0        뱀부하우스   소고기구이  서울특별시 강남구 역삼동 658-10
1       성우서서갈비  한우 소갈비   서울특별시 마포구 용강동 45-21
2          필경재     한정식   서울특별시 강남구 수서동 739-1
3       프로간장게장      게장    서울특별시 서초구 잠원동 27-1
4          곰바위      곱창  서울특별시 강남구 삼성1동 76-10
..         ...     ...                   ...
218         예당    퓨전한식  서울특별시 강남구 신사동 628-20
219      오룸다이닝     유럽식   서울특별시 강남구 청담동 22-13
220  올드크로와상팩토리    패스트리  서울특별시 마포구 서교동 327-44
221         취홍    일반중식     서울특별시 강남구 역삼동 602
222         키친     미국식      서울특별시 광진구 광장동 21

[223 rows x 3 columns]

In [158]:
# 블루리본2016_서울 전처리
blue2016_seoul = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","블루리본2016_서울",engine='openpyxl')
blue2016_seoul.head()

  블루리본2016_서울 Unnamed: 1            Unnamed: 2 Unnamed: 3
0         식당명         음식                    주소         별점
1       뱀부하우스      소고기구이  서울특별시 강남구 역삼동 658-10          2
2         필경재        한정식   서울특별시 강남구 수서동 739-1          2
3      프로간장게장         게장    서울특별시 서초구 잠원동 27-1          2
4         곰바위         곱창  서울특별시 강남구 삼성1동 76-10          2

In [160]:
blue2016_seoul.rename(columns={'블루리본2016_서울':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소',\
                      'Unnamed: 3':'별점'}, inplace=True)
blue2016_seoul.head()

      식당명   대표메뉴                    주소  별점
0     식당명     음식                    주소  별점
1   뱀부하우스  소고기구이  서울특별시 강남구 역삼동 658-10   2
2     필경재    한정식   서울특별시 강남구 수서동 739-1   2
3  프로간장게장     게장    서울특별시 서초구 잠원동 27-1   2
4     곰바위     곱창  서울특별시 강남구 삼성1동 76-10   2

In [161]:
blue2016_seoul.drop([0], inplace=True)

In [162]:
blue2016_seoul.drop(['별점'], axis=1, inplace=True)
blue2016_seoul

           식당명   대표메뉴                    주소
1        뱀부하우스  소고기구이  서울특별시 강남구 역삼동 658-10
2          필경재    한정식   서울특별시 강남구 수서동 739-1
3       프로간장게장     게장    서울특별시 서초구 잠원동 27-1
4          곰바위     곱창  서울특별시 강남구 삼성1동 76-10
5        그란구스또  이탈리아식  서울특별시 강남구 대치동 962-11
..         ...    ...                   ...
189  올드크로와상팩토리   패스트리  서울특별시 마포구 서교동 327-44
190         취홍   일반중식     서울특별시 강남구 역삼동 602
191         키친    미국식      서울특별시 광진구 광장동 21
192      파리스그릴   프랑스식   서울특별시 용산구 한남동 747-7
193     피에르에르메    마카롱   서울특별시 강남구 삼성동 159-1

[193 rows x 3 columns]

In [163]:
michelin2018_seoul = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","미쉐린가이드2018",engine='openpyxl')
michelin2018_seoul.head()

  미쉐린가이드2018 Unnamed: 1                               Unnamed: 2 Unnamed: 3
0        식당명         음식                                       주소         별점
1         가온   한정식 코스요리  서울특별시 강남구 도산대로 317 신사동 651-24 호림아트센터 M층          3
2         라연        한정식               서울특별시 중구 동호로 249 장충동2가 202          3
3         곳간         한식             서울특별시 영등포구 여의대로 24 여의도동 28-1          2
4        권숙수  한정식, 코스요리           서울특별시 강남구 압구정로80길 37 청담동 92-18          2

In [164]:
michelin2018_seoul.rename(columns={'미쉐린가이드2018':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소',\
                      'Unnamed: 3':'별점'}, inplace=True)
michelin2018_seoul.head()

   식당명       대표메뉴                                       주소  별점
0  식당명         음식                                       주소  별점
1   가온   한정식 코스요리  서울특별시 강남구 도산대로 317 신사동 651-24 호림아트센터 M층   3
2   라연        한정식               서울특별시 중구 동호로 249 장충동2가 202   3
3   곳간         한식             서울특별시 영등포구 여의대로 24 여의도동 28-1   2
4  권숙수  한정식, 코스요리           서울특별시 강남구 압구정로80길 37 청담동 92-18   2

In [165]:
michelin2018_seoul.drop([0], inplace=True)
michelin2018_seoul.head()

   식당명       대표메뉴                                       주소 별점
1   가온   한정식 코스요리  서울특별시 강남구 도산대로 317 신사동 651-24 호림아트센터 M층  3
2   라연        한정식               서울특별시 중구 동호로 249 장충동2가 202  3
3   곳간         한식             서울특별시 영등포구 여의대로 24 여의도동 28-1  2
4  권숙수  한정식, 코스요리           서울특별시 강남구 압구정로80길 37 청담동 92-18  2
5  정식당  한정식, 코스요리           서울특별시 강남구 선릉로158길 11 청담동 83-24  2

In [166]:
michelin2018_seoul.drop(['별점'], axis=1, inplace=True)
michelin2018_seoul.head()

   식당명       대표메뉴                                       주소
1   가온   한정식 코스요리  서울특별시 강남구 도산대로 317 신사동 651-24 호림아트센터 M층
2   라연        한정식               서울특별시 중구 동호로 249 장충동2가 202
3   곳간         한식             서울특별시 영등포구 여의대로 24 여의도동 28-1
4  권숙수  한정식, 코스요리           서울특별시 강남구 압구정로80길 37 청담동 92-18
5  정식당  한정식, 코스요리           서울특별시 강남구 선릉로158길 11 청담동 83-24

In [225]:
# 미쉐린가이드2017 데이터 전처리
michelin2017_seoul = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","미쉐린가이드2017",engine='openpyxl')
michelin2017_seoul.head()

   미쉐린가이드2017 Unnamed: 1             Unnamed: 2 Unnamed: 3
0       title         음식                     주소         별점
1          가온         한식  서울특별시 강남구 신사동 651-24           3
2   곳간 by 이종국         한식  서울특별시 영등포구 여의도동 28-1           2
3         권숙수         한식   서울특별시 강남구 신사동 643-18          2
4  다이닝 인 스페이스  프렌치 컨템포러리     서울특별시 종로구 원서동 219           1

In [226]:
michelin2017_seoul.rename(columns={'미쉐린가이드2017':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소',\
                      'Unnamed: 3':'별점'}, inplace=True)
michelin2017_seoul.head()

          식당명       대표메뉴                     주소  별점
0       title         음식                     주소  별점
1          가온         한식  서울특별시 강남구 신사동 651-24    3
2   곳간 by 이종국         한식  서울특별시 영등포구 여의도동 28-1    2
3         권숙수         한식   서울특별시 강남구 신사동 643-18   2
4  다이닝 인 스페이스  프렌치 컨템포러리     서울특별시 종로구 원서동 219    1

In [227]:
michelin2017_seoul.drop([0], inplace=True)
michelin2017_seoul.head()

          식당명       대표메뉴                     주소 별점
1          가온         한식  서울특별시 강남구 신사동 651-24   3
2   곳간 by 이종국         한식  서울특별시 영등포구 여의도동 28-1   2
3         권숙수         한식   서울특별시 강남구 신사동 643-18  2
4  다이닝 인 스페이스  프렌치 컨템포러리     서울특별시 종로구 원서동 219   1
5        라미띠에        프렌치  서울특별시 강남구 신사동 628-16   1

In [228]:
michelin2017_seoul.drop(['별점'], axis=1, inplace=True)
michelin2017_seoul.head()

          식당명       대표메뉴                     주소
1          가온         한식  서울특별시 강남구 신사동 651-24
2   곳간 by 이종국         한식  서울특별시 영등포구 여의도동 28-1
3         권숙수         한식   서울특별시 강남구 신사동 643-18
4  다이닝 인 스페이스  프렌치 컨템포러리     서울특별시 종로구 원서동 219
5        라미띠에        프렌치  서울특별시 강남구 신사동 628-16

In [167]:
# 여기Go 데이터 전처리
herego = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","여기Go",engine='openpyxl')
herego.head()

          여기Go    Unnamed: 1                     Unnamed: 2
0          식당명            음식                             주소
1  서울 밤도깨비 야시장  토시살버터구이, 크레페              서울특별시 영등포구 여의도동 8
2       올드나이브스          스테이크           서울특별시 용산구 용산동2가 27-5
3           연교           소룡포           서울특별시 마포구 연남동 383-95
4         산동만두      새우군만두 9개  서울특별시 용산구 후암로28길 7 북성동2가 9-11

In [168]:
herego.rename(columns={'여기Go':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
herego.head()

           식당명          대표메뉴                             주소
0          식당명            음식                             주소
1  서울 밤도깨비 야시장  토시살버터구이, 크레페              서울특별시 영등포구 여의도동 8
2       올드나이브스          스테이크           서울특별시 용산구 용산동2가 27-5
3           연교           소룡포           서울특별시 마포구 연남동 383-95
4         산동만두      새우군만두 9개  서울특별시 용산구 후암로28길 7 북성동2가 9-11

In [169]:
herego.drop([0], inplace=True)
herego.head()

           식당명          대표메뉴                             주소
1  서울 밤도깨비 야시장  토시살버터구이, 크레페              서울특별시 영등포구 여의도동 8
2       올드나이브스          스테이크           서울특별시 용산구 용산동2가 27-5
3           연교           소룡포           서울특별시 마포구 연남동 383-95
4         산동만두      새우군만두 9개  서울특별시 용산구 후암로28길 7 북성동2가 9-11
5         도산분식         도산비빔면            서울특별시 강남구 신사동 652-7

In [170]:
seoul = herego['주소'].str[:5] == '서울특별시'
herego_seoul = herego[seoul]
herego_seoul

             식당명          대표메뉴                              주소
1    서울 밤도깨비 야시장  토시살버터구이, 크레페               서울특별시 영등포구 여의도동 8
2         올드나이브스          스테이크            서울특별시 용산구 용산동2가 27-5
3             연교           소룡포            서울특별시 마포구 연남동 383-95
4           산동만두      새우군만두 9개   서울특별시 용산구 후암로28길 7 북성동2가 9-11
5           도산분식         도산비빔면             서울특별시 강남구 신사동 652-7
..           ...           ...                             ...
193        옥상휴게소          계란말이          서울특별시 마포구 공덕동 256-5 2층
194           군침        오늘의 메뉴            서울특별시 마포구 망원동 410-31
195        광장토스트           토스트  서울특별시 종로구 창경궁로 88 광장시장 동부 B24호
196   털보네 꼼장어 닭발     돼지 꼬랑지 구이               서울특별시 용산구 대사관로 63
197         커피반점        총좌빙토스트         서울특별시 용산구 원효로 84길 21 1층

[180 rows x 3 columns]

In [171]:
herego_seoul.reset_index(inplace=True)
herego_seoul.head()

   index          식당명          대표메뉴                             주소
0      1  서울 밤도깨비 야시장  토시살버터구이, 크레페              서울특별시 영등포구 여의도동 8
1      2       올드나이브스          스테이크           서울특별시 용산구 용산동2가 27-5
2      3           연교           소룡포           서울특별시 마포구 연남동 383-95
3      4         산동만두      새우군만두 9개  서울특별시 용산구 후암로28길 7 북성동2가 9-11
4      5         도산분식         도산비빔면            서울특별시 강남구 신사동 652-7

In [172]:
herego_seoul.drop(['index'], axis=1, inplace=True)
herego_seoul.head()

           식당명          대표메뉴                             주소
0  서울 밤도깨비 야시장  토시살버터구이, 크레페              서울특별시 영등포구 여의도동 8
1       올드나이브스          스테이크           서울특별시 용산구 용산동2가 27-5
2           연교           소룡포           서울특별시 마포구 연남동 383-95
3         산동만두      새우군만두 9개  서울특별시 용산구 후암로28길 7 북성동2가 9-11
4         도산분식         도산비빔면            서울특별시 강남구 신사동 652-7

In [173]:
# 식신로드 전처리
foodroad = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","식신로드",engine='openpyxl')
foodroad.head()

          식신로드   Unnamed: 1                                 Unnamed: 2
0          식당명           음식                                         주소
1        두손진곰탕  곰탕, 매운돼지갈비찜                           경기 김포시 장기동 152-2
2  생고기제작소 당산역점      육회, 소고기       서울특별시 영등포구 당산로47길 8 당산동6가 314 당일빌딩1층
3  용호낙지 여의도2호점           낙지  서울특별시 영등포구 국회대로74길 10 여의도동 13-17 굿피플빌딩 1층
4         사이치킨         사이치킨                 서울특별시 종로구 백석동길 1 부암동 257-3

In [174]:
foodroad.rename(columns={'식신로드':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
foodroad.head()

           식당명         대표메뉴                                         주소
0          식당명           음식                                         주소
1        두손진곰탕  곰탕, 매운돼지갈비찜                           경기 김포시 장기동 152-2
2  생고기제작소 당산역점      육회, 소고기       서울특별시 영등포구 당산로47길 8 당산동6가 314 당일빌딩1층
3  용호낙지 여의도2호점           낙지  서울특별시 영등포구 국회대로74길 10 여의도동 13-17 굿피플빌딩 1층
4         사이치킨         사이치킨                 서울특별시 종로구 백석동길 1 부암동 257-3

In [175]:
foodroad.drop([0], inplace=True)
foodroad.head()

           식당명         대표메뉴                                         주소
1        두손진곰탕  곰탕, 매운돼지갈비찜                           경기 김포시 장기동 152-2
2  생고기제작소 당산역점      육회, 소고기       서울특별시 영등포구 당산로47길 8 당산동6가 314 당일빌딩1층
3  용호낙지 여의도2호점           낙지  서울특별시 영등포구 국회대로74길 10 여의도동 13-17 굿피플빌딩 1층
4         사이치킨         사이치킨                 서울특별시 종로구 백석동길 1 부암동 257-3
5        가나안 덕         오리구이                       경기 고양시 일산동구 풍동 591-2

In [176]:
seoul = foodroad['주소'].str[:5] == '서울특별시'
foodroad_seoul = foodroad[seoul]
foodroad_seoul

             식당명     대표메뉴                                         주소
2    생고기제작소 당산역점  육회, 소고기       서울특별시 영등포구 당산로47길 8 당산동6가 314 당일빌딩1층
3    용호낙지 여의도2호점       낙지  서울특별시 영등포구 국회대로74길 10 여의도동 13-17 굿피플빌딩 1층
4           사이치킨     사이치킨                 서울특별시 종로구 백석동길 1 부암동 257-3
8             린찐   인절미탕수육                      서울특별시 강동구 성내3동 448-21
9           마포나루  닭찜, 볶음밥                       서울특별시 마포구 도화동 201-39
..           ...      ...                                        ...
186   숙달돼지 (사당점)     돼지고기                       서울특별시 서초구 방배천로4안길 20
187        맛이차이나    안심탕수육                        서울특별시 마포구 상수동 317-2
188         플라잉볼       양식                         서울특별시 성동구 왕십리로 136
189          강남곱       곱창                         서울특별시 강남구 역삼로3길 12
190          청기와      참치회               서울특별시 강남구 언주로148길 14 청호불교문화원

[122 rows x 3 columns]

In [177]:
foodroad_seoul.reset_index(inplace=True)
foodroad_seoul.head()

   index          식당명     대표메뉴                                         주소
0      2  생고기제작소 당산역점  육회, 소고기       서울특별시 영등포구 당산로47길 8 당산동6가 314 당일빌딩1층
1      3  용호낙지 여의도2호점       낙지  서울특별시 영등포구 국회대로74길 10 여의도동 13-17 굿피플빌딩 1층
2      4         사이치킨     사이치킨                 서울특별시 종로구 백석동길 1 부암동 257-3
3      8           린찐   인절미탕수육                      서울특별시 강동구 성내3동 448-21
4      9         마포나루  닭찜, 볶음밥                       서울특별시 마포구 도화동 201-39

In [178]:
foodroad_seoul.drop(['index'], axis=1, inplace=True)
foodroad_seoul.head()

           식당명     대표메뉴                                         주소
0  생고기제작소 당산역점  육회, 소고기       서울특별시 영등포구 당산로47길 8 당산동6가 314 당일빌딩1층
1  용호낙지 여의도2호점       낙지  서울특별시 영등포구 국회대로74길 10 여의도동 13-17 굿피플빌딩 1층
2         사이치킨     사이치킨                 서울특별시 종로구 백석동길 1 부암동 257-3
3           린찐   인절미탕수육                      서울특별시 강동구 성내3동 448-21
4         마포나루  닭찜, 볶음밥                       서울특별시 마포구 도화동 201-39

In [179]:
# 테이스티로드 전처리
tastyroad = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","테이스티로드",engine='openpyxl')
tastyroad.head()

  테이스티로드     Unnamed: 1                   Unnamed: 2
0    식당명             음식                           주소
1    찰스H  bar, 칵테일, 샴페인  서울특별시 종로구 당주동29 포시즌스호텔 지하1층
2  대복순두부         가마솥 두부        강원도 인제군 인제읍 상동리 251-5
3  거북이슈퍼     가맥, 맥주, 쥐포         서울특별시 종로구 익선동 166-79
4    고요남   갈비, 물회, 한우물회            서울특별시 강남구 논현동 166

In [183]:
tastyroad.rename(columns={'테이스티로드':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
tastyroad.head()

     식당명           대표메뉴                           주소
0    식당명             음식                           주소
1    찰스H  bar, 칵테일, 샴페인  서울특별시 종로구 당주동29 포시즌스호텔 지하1층
2  대복순두부         가마솥 두부        강원도 인제군 인제읍 상동리 251-5
3  거북이슈퍼     가맥, 맥주, 쥐포         서울특별시 종로구 익선동 166-79
4    고요남   갈비, 물회, 한우물회            서울특별시 강남구 논현동 166

In [184]:
tastyroad.drop([0], inplace=True)
tastyroad.head()

      식당명           대표메뉴                           주소
1     찰스H  bar, 칵테일, 샴페인  서울특별시 종로구 당주동29 포시즌스호텔 지하1층
2   대복순두부         가마솥 두부        강원도 인제군 인제읍 상동리 251-5
3   거북이슈퍼     가맥, 맥주, 쥐포         서울특별시 종로구 익선동 166-79
4     고요남   갈비, 물회, 한우물회            서울특별시 강남구 논현동 166
5  와일드마카오     갈비, 해물, 짜장           서울특별시 광진구 화양동 23-5

In [185]:
seoul = tastyroad['주소'].str[:5] == '서울특별시'
tastyroad_seoul = tastyroad[seoul]
tastyroad_seoul

        식당명               대표메뉴                           주소
1       찰스H      bar, 칵테일, 샴페인  서울특별시 종로구 당주동29 포시즌스호텔 지하1층
3     거북이슈퍼         가맥, 맥주, 쥐포         서울특별시 종로구 익선동 166-79
4       고요남       갈비, 물회, 한우물회            서울특별시 강남구 논현동 166
5    와일드마카오         갈비, 해물, 짜장           서울특별시 광진구 화양동 23-5
6       마시찜   갈비찜, 소갈비찜, 매운갈비찜           서울특별시 종로구 동숭동 1-11
..      ...                ...                          ...
211      바랗     해산물, 생선구이, 샐러드         서울특별시 강남구 신사동 630-23
212    목동해물                해산물          서울특별시 양천구 목동 406-75
213   키친485      화덕피자, 파스타, 피자         서울특별시 마포구 서교동 399-24
214     보물섬      횟집, 해산물, 고등어회          서울특별시 강남구 논현동 181-5
215   하이디라오  훠궈, 샤브샤브, 중국식샤브샤브           서울특별시 중구 명동1가 59-5

[179 rows x 3 columns]

In [186]:
tastyroad_seoul.reset_index(inplace=True)
tastyroad_seoul

     index     식당명               대표메뉴                           주소
0        1     찰스H      bar, 칵테일, 샴페인  서울특별시 종로구 당주동29 포시즌스호텔 지하1층
1        3   거북이슈퍼         가맥, 맥주, 쥐포         서울특별시 종로구 익선동 166-79
2        4     고요남       갈비, 물회, 한우물회            서울특별시 강남구 논현동 166
3        5  와일드마카오         갈비, 해물, 짜장           서울특별시 광진구 화양동 23-5
4        6     마시찜   갈비찜, 소갈비찜, 매운갈비찜           서울특별시 종로구 동숭동 1-11
..     ...     ...                ...                          ...
174    211      바랗     해산물, 생선구이, 샐러드         서울특별시 강남구 신사동 630-23
175    212    목동해물                해산물          서울특별시 양천구 목동 406-75
176    213   키친485      화덕피자, 파스타, 피자         서울특별시 마포구 서교동 399-24
177    214     보물섬      횟집, 해산물, 고등어회          서울특별시 강남구 논현동 181-5
178    215   하이디라오  훠궈, 샤브샤브, 중국식샤브샤브           서울특별시 중구 명동1가 59-5

[179 rows x 4 columns]

In [189]:
tastyroad_seoul.drop(['index'], axis=1, inplace=True)
tastyroad_seoul

        식당명               대표메뉴                           주소
0       찰스H      bar, 칵테일, 샴페인  서울특별시 종로구 당주동29 포시즌스호텔 지하1층
1     거북이슈퍼         가맥, 맥주, 쥐포         서울특별시 종로구 익선동 166-79
2       고요남       갈비, 물회, 한우물회            서울특별시 강남구 논현동 166
3    와일드마카오         갈비, 해물, 짜장           서울특별시 광진구 화양동 23-5
4       마시찜   갈비찜, 소갈비찜, 매운갈비찜           서울특별시 종로구 동숭동 1-11
..      ...                ...                          ...
174      바랗     해산물, 생선구이, 샐러드         서울특별시 강남구 신사동 630-23
175    목동해물                해산물          서울특별시 양천구 목동 406-75
176   키친485      화덕피자, 파스타, 피자         서울특별시 마포구 서교동 399-24
177     보물섬      횟집, 해산물, 고등어회          서울특별시 강남구 논현동 181-5
178   하이디라오  훠궈, 샤브샤브, 중국식샤브샤브           서울특별시 중구 명동1가 59-5

[179 rows x 3 columns]

In [190]:
# 생생정보통 전처리
infotong = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","생생정보통",engine='openpyxl')
infotong.head()

    생생정보통 Unnamed: 1             Unnamed: 2
0     식당명         음식                     주소
1     손여사        비빔밥  서울특별시 강서구 염창동 240-21
2    샤브마름   홍삼한방샤브샤브       충남 계룡시 금암동 160-7
3  대연가든식당     홍삼오리백숙    전남 순천시 서면 지본리 544-4
4  정성1983      단호박낙지    대구 중구 삼덕동1가 58-4 2층

In [191]:
infotong.rename(columns={'생생정보통':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
infotong.head()

      식당명      대표메뉴                     주소
0     식당명        음식                     주소
1     손여사       비빔밥  서울특별시 강서구 염창동 240-21
2    샤브마름  홍삼한방샤브샤브       충남 계룡시 금암동 160-7
3  대연가든식당    홍삼오리백숙    전남 순천시 서면 지본리 544-4
4  정성1983     단호박낙지    대구 중구 삼덕동1가 58-4 2층

In [192]:
infotong.drop([0], inplace=True)
infotong.head()

       식당명      대표메뉴                     주소
1      손여사       비빔밥  서울특별시 강서구 염창동 240-21
2     샤브마름  홍삼한방샤브샤브       충남 계룡시 금암동 160-7
3   대연가든식당    홍삼오리백숙    전남 순천시 서면 지본리 544-4
4   정성1983     단호박낙지    대구 중구 삼덕동1가 58-4 2층
5  금화로숯불고기     양념불고기   서울특별시 마포구 동교동 158-10

In [193]:
seoul = infotong['주소'].str[:5] == '서울특별시'
infotong_seoul = infotong[seoul]
infotong_seoul

           식당명            대표메뉴                      주소
1          손여사             비빔밥   서울특별시 강서구 염창동 240-21
5      금화로숯불고기           양념불고기    서울특별시 마포구 동교동 158-10
16      꽃중년푸줏간            한우한판   서울특별시 성북구 정릉동 966-193
32         문어정             해천탕     서울특별시 은평구 녹번동 183-2
38          아라              물회   서울특별시 강서구 내발산동 670-51
45      삼환소한마리        소고기 무한리필    서울특별시 강남구 삼성동 107-12
47      불고기아리랑          버섯 불고기     서울특별시 용산구 용문동 28-25
60        신선대게              대게      서울특별시 송파구 방이동 43-7
64         마루심             장어      서울특별시 서초구 반포동 54-10
69         우장군          묵은지 곱창     서울특별시 강서구 화곡동 929-4
76   계수나무향한식뷔페       닭볶음탕 무한리필   서울특별시 양천구 목3동 610-20
82     맛있는족발보쌈  족발보쌈치킨막국수 무한리필     서울특별시 구로구 오류동 6-156
83       우제홍참치          참치 한마리    서울특별시 강남구 논현동 164-16
84        트램타고            스테이크     서울특별시 강남구 삼성동 115-4
90     복돈이 생고기             삼겹살   서울특별시 관악구 남현동 1061-12
94        장군찜닭            크림찜닭  서울특별시 서대문구 창천동 52-150
97      석림정육식당     3000원 우거지국밥    서울특별시 송파구 잠실동 186-11
98         새마을            소닭개장     서울특별시 마포구 망원동 376-6
102       랍스랍스        바닷가재 조개찜    서울특별시 강남구 대치동 900-24
106        고릴라         국물 스테이크     서울특별시 마포구 서교동 396-3
111         포족          족발 월남쌈    서울특별시 영등포구 여의도동 44-1
115    진미기사님식당            코다리찜    서울특별시 강북구 수유동 273-77
117        구뜰집          연탄파불고기     서울특별시 서초구 방배동 863-3
120       퀸즈가든      무한 삼겹살 월남쌈  서울특별시 서초구 서초동 1330-20
122      떴다삼계탕        무한리필 삼계탕    서울특별시 종로구 창신동 581-30
124   마녀커리크림치킨          카레크림치킨    서울특별시 마포구 서교동 337-15
129      수정불막창              막창     서울특별시 은평구 갈현동 455-3
130       대게나라             대게찜       서울특별시 강남구 논현동 261
135        진주집            꼬리곰탕      서울특별시 중구 남창동 34-13
142      돈파스팔레          돈가스파스타  서울특별시 관악구 봉천동 1628-18

In [194]:
infotong_seoul.reset_index(inplace=True)
infotong_seoul.head()

   index      식당명   대표메뉴                     주소
0      1      손여사    비빔밥  서울특별시 강서구 염창동 240-21
1      5  금화로숯불고기  양념불고기   서울특별시 마포구 동교동 158-10
2     16   꽃중년푸줏간   한우한판  서울특별시 성북구 정릉동 966-193
3     32      문어정    해천탕    서울특별시 은평구 녹번동 183-2
4     38       아라     물회  서울특별시 강서구 내발산동 670-51

In [195]:
infotong_seoul.drop(['index'], axis=1, inplace=True)
infotong_seoul.head()

       식당명   대표메뉴                     주소
0      손여사    비빔밥  서울특별시 강서구 염창동 240-21
1  금화로숯불고기  양념불고기   서울특별시 마포구 동교동 158-10
2   꽃중년푸줏간   한우한판  서울특별시 성북구 정릉동 966-193
3      문어정    해천탕    서울특별시 은평구 녹번동 183-2
4       아라     물회  서울특별시 강서구 내발산동 670-51

In [196]:
# 중앙일보 전처리
central = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","중앙일보 맛집",engine='openpyxl')
central.head()

  중앙일보 맛집  Unnamed: 1                 Unnamed: 2
0     식당명          음식                         주소
1     크레아         프렌치      서울특별시 강남구 언주로 164길 24
2    에스테번   아메리칸 레스토랑  서울특별시 강남구 도산대로 45길 16-11
3      우오          스시  서울특별시 강남구 도산대로 45길 18-10
4     마이쏭  브런치 #미국가정식    서울특별시 강남구 도산대로 45길 16-4

In [197]:
central.rename(columns={'중앙일보 맛집':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
central.head()

    식당명        대표메뉴                         주소
0   식당명          음식                         주소
1   크레아         프렌치      서울특별시 강남구 언주로 164길 24
2  에스테번   아메리칸 레스토랑  서울특별시 강남구 도산대로 45길 16-11
3    우오          스시  서울특별시 강남구 도산대로 45길 18-10
4   마이쏭  브런치 #미국가정식    서울특별시 강남구 도산대로 45길 16-4

In [198]:
central.drop([0], inplace=True)

In [199]:
central.head()

       식당명        대표메뉴                         주소
1      크레아         프렌치      서울특별시 강남구 언주로 164길 24
2     에스테번   아메리칸 레스토랑  서울특별시 강남구 도산대로 45길 16-11
3       우오          스시  서울특별시 강남구 도산대로 45길 18-10
4      마이쏭  브런치 #미국가정식    서울특별시 강남구 도산대로 45길 16-4
5  비스트로 뚝떡          분식     서울특별시 성동구 성수동1가 668-41

In [200]:
seoul = central['주소'].str[:5] == '서울특별시'
central_seoul = central[seoul]
central_seoul

        식당명        대표메뉴                         주소
1       크레아         프렌치      서울특별시 강남구 언주로 164길 24
2      에스테번   아메리칸 레스토랑  서울특별시 강남구 도산대로 45길 16-11
3        우오          스시  서울특별시 강남구 도산대로 45길 18-10
4       마이쏭  브런치 #미국가정식    서울특별시 강남구 도산대로 45길 16-4
5   비스트로 뚝떡          분식     서울특별시 성동구 성수동1가 668-41
..      ...         ...                        ...
89     앙스모멍         프렌치     서울특별시 강남구 언주로 153길 12
90     옥인피자          피자           서울특별시 종로구 옥인길 26
91      계단집         해산물         서울특별시 종로구 내자동 11-1
92     중앙해장         해장국      서울특별시 강남구 영동대로86길 17
93       쿠마           회      서울특별시 영등포구 여의대방로69길 7

[93 rows x 3 columns]

In [201]:
# 조선일보 맛집 전처리
chosun = pd.read_excel("C:/source/team3_project/resources/맛집_총취합.xlsx","조선일보 맛집",engine='openpyxl')
chosun.head()

     조선일보 맛집 Unnamed: 1         Unnamed: 2
0        식당명         음식                 주소
1      꽁당보리밥        보리밥  충남 아산시 배방읍 북수로 58
2  해운대원조할매국밥      소고기국밥    해운대구 구남로21번길 27
3       왔다식당         스지      영도구 청학동로 15
4       호천식당   막국수, 불고기     해운대구 중동1로 25-2

In [202]:
chosun.rename(columns={'조선일보 맛집':'식당명',\
                      'Unnamed: 1':'대표메뉴',\
                      'Unnamed: 2':'주소'}, inplace=True)
chosun.head()

         식당명      대표메뉴                 주소
0        식당명        음식                 주소
1      꽁당보리밥       보리밥  충남 아산시 배방읍 북수로 58
2  해운대원조할매국밥     소고기국밥    해운대구 구남로21번길 27
3       왔다식당        스지      영도구 청학동로 15
4       호천식당  막국수, 불고기     해운대구 중동1로 25-2

In [203]:
chosun.drop([0], inplace=True)
chosun.head()

         식당명      대표메뉴                 주소
1      꽁당보리밥       보리밥  충남 아산시 배방읍 북수로 58
2  해운대원조할매국밥     소고기국밥    해운대구 구남로21번길 27
3       왔다식당        스지      영도구 청학동로 15
4       호천식당  막국수, 불고기     해운대구 중동1로 25-2
5      임진강장어       뱀장어   대전시 유성구 문화원로 143

In [204]:
seoul = chosun['주소'].str[:5] == '서울특별시'
chosun_seoul = chosun[seoul]
chosun_seoul

          식당명       대표메뉴                       주소
11       세진식당     갑오징어숙회      서울특별시 중구 을지로15길 21
12        골목집         수육        서울특별시 종로구 당주동 168
13       서경도락        불고기         서울특별시 마포구 삼개로 21
14      퓨전선술집        숙성회      서울특별시 마포구 합정동 383-9
15        꼬꼬댁        닭곰탕   서울특별시 서초구  마방로10길 18-5
16       논현갈비       한우갈비     서울특별시 강남구 언주로113길 10
17     김설문 일식         튀김         서울특별시 중구 북창동 104
18    한상석 해물집        아귀찜    서울특별시 강남구 선릉로86길 44-5
19  원조숯불닭불고기집       닭불고기      서울특별시 도봉구 마들로 735-8
20      신부자식당        삼겹살      서울특별시 강남구 강남대로96길 5
21        강산옥        콩국수        서울특별시 중구 주교동 56-3
22        육통령        삼겹살      서울특별시 중구 명동8나길 37-2
23       꽃이피움         카페      서울특별시 종로구 관훈동 151-8
24     일오팔닭국수        닭국수         서울특별시 종로구 종로 214
25       마루수산         횟집         서울특별시 중구 을지로 255
26       진시미엔         중식       서울특별시 강남구 강남대로 520
27      밀과 보리        보리밥       서울특별시 종로구 창덕궁1길 32
28        한육감       한우구이        서울특별시 종로구 종로3길 17
29        스시유         스시       서울특별시 강남구 영동대로 407
30      산까치냉면         냉면         서울특별시 마포구 도화길 35
31     어머니대성집        해장국     서울특별시 동대문구 용신동 754-9
32         만정        불고기      서울특별시 종로구 삼청로 124-2
33      삼삼구락부  김치찌개 #떡갈비   서울특별시 강서구 화곡로 58길 19-9
34      유아더쉐프         춘빙     서울특별시 서초구 강남대로16길 29
35      은성양곱창        양곱창      서울특별시 중구 명동8나길 37-2
36       필동해물         횟집       서울특별시 중구 필동2가 97-1
37        대장금       수육전골        서울특별시 강남구 삼성로 530
38        동원집        감자탕         서울특별시 중구 입정동 272
39    선일네닭한마리        닭개장      서울특별시 송파구 오금로46길 37
40       스시카마         스시   서울특별시 강남구 논현로159길 46-5
41     진시황북어국        북어국        서울특별시 마포구 만리재로 15
42        진주집        콩국수     서울특별시 영등포구 여의도동 36-2
43      호수삼계탕        삼계탕  서울특별시  영등포구 신길동 342-325
44       부원면옥       평양냉면      서울특별시 중구 남창동 47-10
45        야마야      일본가정식      서울특별시 종로구 새문안로3길 12
46      정원순두부        순두부      서울특별시 중구 세종대로11길 30
47       원대구탕        대구탕     서울특별시 용산구 한강대로62가길 8
48        목천집    매생이 칼국수      서울특별시 서초구 효령로52길 69

In [205]:
chosun_seoul.reset_index(inplace=True)
chosun_seoul.head()

   index    식당명    대표메뉴                      주소
0     11   세진식당  갑오징어숙회     서울특별시 중구 을지로15길 21
1     12    골목집      수육       서울특별시 종로구 당주동 168
2     13   서경도락     불고기        서울특별시 마포구 삼개로 21
3     14  퓨전선술집     숙성회     서울특별시 마포구 합정동 383-9
4     15    꼬꼬댁     닭곰탕  서울특별시 서초구  마방로10길 18-5

In [206]:
chosun_seoul.drop(['index'], axis=1, inplace=True)
chosun_seoul.head()

     식당명    대표메뉴                      주소
0   세진식당  갑오징어숙회     서울특별시 중구 을지로15길 21
1    골목집      수육       서울특별시 종로구 당주동 168
2   서경도락     불고기        서울특별시 마포구 삼개로 21
3  퓨전선술집     숙성회     서울특별시 마포구 합정동 383-9
4    꼬꼬댁     닭곰탕  서울특별시 서초구  마방로10길 18-5

In [209]:
baek_seoul.tail()

        식당명         대표메뉴                            주소
86     뭄알로이        태국 요리       서울특별시 마포구 상수동 93-113 2층
87   포춘레스토랑       러시아 요리       서울특별시 중구 광희동1가 250-1 2층
88  마라케쉬나이트       모로코 요리         서울특별시 용산구 이태원동 127-12
89    신촌칼국수          칼국수           서울특별시 마포구 노고산동 40-9
90       서궁  오향장육 쇠고기군만두  서울특별시 영등포구 여의도동 43-3 홍우빌딩 1층

In [210]:
wed_seoul.tail()

         식당명  대표메뉴                                          주소
385    소금집델리  샌드위치              서울특별시 마포구 월드컵로19길 14 망원동 57-38
386    카사블랑카  샌드위치                 서울특별시 용산구 신흥로 35 용산동2가 44-7
387  썬댄스플레이스  샌드위치            서울특별시특별시 용산구 소월로 268 이태원동 260-18
388      만두라    만두  서울특별시특별시 금천구 시흥대로 97 시흥동 984 시흥유통상가 BB 53호
389     빠오즈푸    만두            서울특별시특별시 광진구 광나루로 373 군자동 361-32

In [211]:
# 데이터 병합하기
result1 = pd.concat([baek_seoul, wed_seoul], ignore_index=True)

In [212]:
result1.tail()

         식당명  대표메뉴                                          주소
476    소금집델리  샌드위치              서울특별시 마포구 월드컵로19길 14 망원동 57-38
477    카사블랑카  샌드위치                 서울특별시 용산구 신흥로 35 용산동2가 44-7
478  썬댄스플레이스  샌드위치            서울특별시특별시 용산구 소월로 268 이태원동 260-18
479      만두라    만두  서울특별시특별시 금천구 시흥대로 97 시흥동 984 시흥유통상가 BB 53호
480     빠오즈푸    만두            서울특별시특별시 광진구 광나루로 373 군자동 361-32

In [213]:
choiza_seoul.tail()

        식당명             대표메뉴                    주소
17    금산제면소              탄탄면     서울특별시 중구 소공로6길 13
18     호우시절             오마카세  서울특별시 강남구 도산대로27길 16
19    알 아지즈               케밥  서울특별시 용산구 우사단로10길 11
21     안주나라        홍어삼합, 백합탕   서울특별시 광진구 동일로18길 23
22  어머니 대성집  밥을 말아먹는 해장국, 육회  서울특별시 동대문구 무학로43길 44

In [214]:
result2 = pd.concat([result1, choiza_seoul], ignore_index=True)
result2.tail()

         식당명             대표메뉴                    주소
497    금산제면소              탄탄면     서울특별시 중구 소공로6길 13
498     호우시절             오마카세  서울특별시 강남구 도산대로27길 16
499    알 아지즈               케밥  서울특별시 용산구 우사단로10길 11
500     안주나라        홍어삼합, 백합탕   서울특별시 광진구 동일로18길 23
501  어머니 대성집  밥을 말아먹는 해장국, 육회  서울특별시 동대문구 무학로43길 44

In [215]:
youngja_seoul.tail()

         식당명           대표메뉴                                             주소
53     코끼리만두           김치만두                서울특별시 강서구 공항대로51길 27 등촌동 654-78
54     오모리찌개  오모리찌개 #옛날 손짜장                   서울특별시 송파구 송파대로 471 석촌동 183-3
55  진도리 닭도리탕       오리지날 진도리          서울특별시 강남구 강남대로122길 15 논현동 163-17 상당빌딩
56       창화당      모둠만두 #떡볶이                 서울특별시 종로구 수표로28길 23 익선동 174 1층
57       숙자네     대구탕 #황태북어국  서울특별시 영등포구 국제금융로 6길 33 여의도동 36-2 여의도백화점 지하 1층

In [216]:
result3 = pd.concat([result2, youngja_seoul], ignore_index=True)
result3.tail()

          식당명           대표메뉴                                             주소
555     코끼리만두           김치만두                서울특별시 강서구 공항대로51길 27 등촌동 654-78
556     오모리찌개  오모리찌개 #옛날 손짜장                   서울특별시 송파구 송파대로 471 석촌동 183-3
557  진도리 닭도리탕       오리지날 진도리          서울특별시 강남구 강남대로122길 15 논현동 163-17 상당빌딩
558       창화당      모둠만두 #떡볶이                 서울특별시 종로구 수표로28길 23 익선동 174 1층
559       숙자네     대구탕 #황태북어국  서울특별시 영등포구 국제금융로 6길 33 여의도동 36-2 여의도백화점 지하 1층

In [218]:
result4 = pd.concat([result3, old100_seoul], ignore_index=True)
result4.tail()

         식당명   대표메뉴                               주소
583  전주 중앙회관  곱돌비빕밥             서울특별시 중구 충무로1가 24-11
584    고려삼계탕    삼계탕               서울특별시 중구 서소문동 55-3
585  함흥 곰보냉면     냉면  서울특별시 종로구 인의동 112-14 세운스퀘어 401호
586     역전회관  바싹불고기             서울특별시 마포구 염리동 173-21
587     진주회관    콩국수             서울특별시 중구 서소문동 120-35

In [219]:
result5 = pd.concat([result4, sikgaek_seoul], ignore_index=True)
result5.tail()

            식당명    대표메뉴                     주소
596          팔선      중식       서울특별시 중구 동호로 249
597  한옥집 서대문 본점     김치찜   서울특별시 서대문구 통일로9안길 14
598   벽제갈비 방이본점     소갈비  서울특별시 송파구 양재대로71길 1-4
599     방아다리감자국  뼈다귀해장국     서울특별시 종로구 종로39길 50
600         우래옥      냉면    서울특별시 중구 창경궁로 62-29

In [220]:
result6 = pd.concat([result5, foodguys_seoul], ignore_index=True)
result6.tail()

           식당명 대표메뉴                        주소
800  현대북어찜황태전골  북어탕      서울특별시 강남구 역삼동 738-11
801       하노이안  쌀국수      서울특별시 마포구 서교동 408-18
802         면면   라면  서울특별시 서대문구 북가좌동 343-1 2층
803    양재동첫번째찜  조개찜       서울특별시 서초구 양재동 351-8
804    대관령황태마을   황태       서울특별시 은평구 역촌동 70-34

In [221]:
result7 = pd.concat([result6, blue2017_seoul], ignore_index=True)
result7.tail()

            식당명  대표메뉴                    주소
1023         예당  퓨전한식  서울특별시 강남구 신사동 628-20
1024      오룸다이닝   유럽식   서울특별시 강남구 청담동 22-13
1025  올드크로와상팩토리  패스트리  서울특별시 마포구 서교동 327-44
1026         취홍  일반중식     서울특별시 강남구 역삼동 602
1027         키친   미국식      서울특별시 광진구 광장동 21

In [222]:
result8 = pd.concat([result7, blue2016_seoul], ignore_index=True)
result8.tail()

            식당명  대표메뉴                    주소
1216  올드크로와상팩토리  패스트리  서울특별시 마포구 서교동 327-44
1217         취홍  일반중식     서울특별시 강남구 역삼동 602
1218         키친   미국식      서울특별시 광진구 광장동 21
1219      파리스그릴  프랑스식   서울특별시 용산구 한남동 747-7
1220     피에르에르메   마카롱   서울특별시 강남구 삼성동 159-1

In [223]:
result9 = pd.concat([result8, michelin2018_seoul], ignore_index=True)
result9.tail()

          식당명             대표메뉴                                              주소
1240       주옥  한식, 파인다이닝, 코스요리                          서울특별시 강남구 선릉로148길 52-7
1241       진진   중식, 대게살볶음, 멘보샤                   서울특별시 마포구 잔다리로 123 서교동 469-67
1242     큰기와집             간장게장                    서울특별시 종로구 북촌로5길 62 소격동 122-3
1243  테이블 포 포     파인 다이닝, 코스요리              서울특별시 서초구 사평대로14길 11 반포동 110-1 명빌딩
1244     품 서울       한정식, 파인다이닝  서울특별시 용산구 두텁바위로60길 49 후암동 358-17 대원정사 빌딩 별관 4층

In [229]:
result10 = pd.concat([result9, michelin2017_seoul], ignore_index=True)
result10.tail()

           식당명       대표메뉴                     주소
1264       코지마         스시      서울특별시 강남구 청담동 89
1265      큰기와집         게장   서울특별시 종로구 소격동 122-3
1266         품         한식  서울특별시 용산구 후암동 358-17
1267  피에르 가니에르  프렌치 컨템포러리        서울특별시 중구 소공동 1
1268        하모         한식   서울특별시 강남구 신사동 627-13

In [230]:
result11 = pd.concat([result10, herego_seoul], ignore_index=True)
result11.tail()

             식당명       대표메뉴                              주소
1444       옥상휴게소       계란말이          서울특별시 마포구 공덕동 256-5 2층
1445          군침     오늘의 메뉴            서울특별시 마포구 망원동 410-31
1446       광장토스트        토스트  서울특별시 종로구 창경궁로 88 광장시장 동부 B24호
1447  털보네 꼼장어 닭발  돼지 꼬랑지 구이               서울특별시 용산구 대사관로 63
1448        커피반점     총좌빙토스트         서울특별시 용산구 원효로 84길 21 1층

In [231]:
result12 = pd.concat([result11, foodroad_seoul], ignore_index=True)
result12.tail()

             식당명   대표메뉴                            주소
1566  숙달돼지 (사당점)   돼지고기          서울특별시 서초구 방배천로4안길 20
1567       맛이차이나  안심탕수육           서울특별시 마포구 상수동 317-2
1568        플라잉볼     양식            서울특별시 성동구 왕십리로 136
1569         강남곱     곱창            서울특별시 강남구 역삼로3길 12
1570         청기와    참치회  서울특별시 강남구 언주로148길 14 청호불교문화원

In [232]:
result13 = pd.concat([result12, tastyroad_seoul], ignore_index=True)
result13.tail()

        식당명               대표메뉴                    주소
1745     바랗     해산물, 생선구이, 샐러드  서울특별시 강남구 신사동 630-23
1746   목동해물                해산물   서울특별시 양천구 목동 406-75
1747  키친485      화덕피자, 파스타, 피자  서울특별시 마포구 서교동 399-24
1748    보물섬      횟집, 해산물, 고등어회   서울특별시 강남구 논현동 181-5
1749  하이디라오  훠궈, 샤브샤브, 중국식샤브샤브    서울특별시 중구 명동1가 59-5

In [233]:
result14 = pd.concat([result13, infotong_seoul], ignore_index=True)
result14.tail()

           식당명    대표메뉴                      주소
1775  마녀커리크림치킨  카레크림치킨    서울특별시 마포구 서교동 337-15
1776     수정불막창      막창     서울특별시 은평구 갈현동 455-3
1777      대게나라     대게찜       서울특별시 강남구 논현동 261
1778       진주집    꼬리곰탕      서울특별시 중구 남창동 34-13
1779     돈파스팔레  돈가스파스타  서울특별시 관악구 봉천동 1628-18

In [234]:
result15 = pd.concat([result14, central_seoul], ignore_index=True)
result15.tail()

       식당명 대표메뉴                      주소
1868  앙스모멍  프렌치  서울특별시 강남구 언주로 153길 12
1869  옥인피자   피자        서울특별시 종로구 옥인길 26
1870   계단집  해산물      서울특별시 종로구 내자동 11-1
1871  중앙해장  해장국   서울특별시 강남구 영동대로86길 17
1872    쿠마    회   서울특별시 영등포구 여의대방로69길 7

In [5]:
result16 = pd.concat([result15, chosun_seoul], ignore_index=True)
result16.tail()

NameError: name 'result15' is not defined

In [236]:
result16.to_csv("C:/source/team3_project/resources/matzip.csv")

In [245]:
# 주소, 위도, 경도 정보 얻기
tasty_name = []

for name in result16['주소']:
    tasty_name.append(str(name))

In [246]:
tasty_name

['서울특별시 성북구 성북동 109-2',
 '서울특별시 성북구 성북동 114-2',
 '서울특별시 종로구 종로3가 167',
 '서울특별시 마포구 도화동 345-4',
 '서울특별시 종로구 종로1가 24 르메이에르 종로타운 2층',
 '서울특별시 용산구 한남동 743-7',
 '서울특별시 서대문구 영천동 69-3',
 '서울특별시 광진구 구의동 52-17',
 '서울특별시 강서구 공항동 73-7',
 '서울특별시 구로구 오류2동 135-68',
 '서울특별시 종로구 화동 138-21',
 '서울특별시 중구 중림동 110-3',
 '서울특별시 영등포구 여의도동 44-14',
 '서울특별시 종로구 청진동 204-1',
 '서울특별시 중구 충무로4가 127-16',
 '서울특별시 종로구 창신1동 142-27',
 '서울특별시 중구 장충동1가 62-16',
 '서울특별시 송파구 문정동 44',
 '서울특별시 관악구 신림동 1640-31',
 '서울특별시 중구 신당동 368-60',
 '서울특별시 영등포구 당산동 295',
 '서울특별시 동대문구 제기동 892-12',
 '서울특별시 송파구 풍납동 405',
 '서울특별시 성북구 보문동5가 3-3',
 '서울특별시 마포구 서교동 358-49',
 '서울특별시 영등포구 여의도동 226-36',
 '서울특별시 마포구 망원동 476-1',
 '서울특별시 중랑구 망우동 407-28',
 '서울특별시 서대문구 충정로2가 124',
 '서울특별시 관악구 봉천동 1626-20',
 '서울특별시 종로구 종로5가 225-27',
 '서울특별시 성북구 동소문동5가 63-3 돈암제일시장 내',
 '서울특별시 종로구 혜화동 84-3',
 '서울특별시 중구 중림동 468',
 '서울특별시 강남구 논현동 275-3',
 '서울특별시 노원구 중계4동 140-42',
 '서울특별시 강북구 수유1동 54-1',
 '서울특별시 서대문구 대신동 50-2',
 '서울특별시 은평구 대조동 185-34',
 '서울특별시 중구 충무로4가 306',
 '서울특별시 종로구 예지동 30-4 광장시장 41호',
 '서울특별시 서대문구 창천동 2-24',
 '서울특별시 종로구 필운동 202',
 '서울특별시 동작구 흑석동 54-146',
 '서울특별시 종로구 인사동 220-2',
 '서울특별시 종로구 창신동 81-8',
 '서울특별시 성북구 성북동 173-28',
 '서울특별시 영등포구 문래동4가 8-26',
 '서울특별시 성동구 성수동2가 315-100',
 '서울특별시 종로구 내자동 108',
 '서울특별시 종로구 종로5가 282-21',
 '서울특별시 용산구 청파동2가 95',
 '서울특별시 은평구 대조동 197-19',
 '서울특별시 중구 신당동 304-791',
 '서울특별시 은평구 대조동 185-44',
 '서울특별시 마포구 도화동 181-45',
 '서울특별시 용산구 이태원동 129-9',
 '서울특별시 마포구 연남동 229-12',
 '서울특별시 강동구 천호동 436-5',
 '서울특별시 동작구 노량진로 184',
 '서울특별시 금천구 독산동 159-7',
 '서울특별시 종로구 종로4가 165-2',
 '서울특별시 종로구 돈의동 27',
 '서울특별시 서대문구 홍은동 202-5',
 '서울특별시 용산구 이태원1동 176-2 ',
 '서울특별시 서대문구 창천동 91-6',
 '서울특별시 마포구 노고산동 31-74',
 '서울특별시 서대문구 홍은동 48-100',
 '서울특별시 마포구 상수동 315-3',
 '서울특별시 종로구 삼청동 35-116',
 '서울특별시 종로구 관수동 43-2',
 '서울특별시 영등포구 양평동5가 57-1',
 '서울특별시 동대문구 제기동 1156-14',
 '서울특별시 마포구 합정동 413-16',
 '서울특별시 마포구 망원동 379-2',
 '서울특별시 동작구 상도동 195-52',
 '서울특별시 관악구 봉천동 1628-18',
 '서울특별시 용산구 청파동2가 55-8',
 '서울특별시 성동구 성수동2가 335-138',
 '서울특별시 동대문구 장안동 334-3',
 '서울특별시 광진구 구의동 143-2',
 '서울특별시 용산구 이태원1동 56-20',
 '서울특별시 강서구 방화동 179-14',
 '서울특별시 마포구 서교동 402-2',
 '서울특별시 중구 을지로3가 350-1',
 '서울특별시 마포구 연남동 383-72 3층',
 '서울특별시 마포구 상수동 93-113 2층',
 '서울특별시 중구 광희동1가 250-1 2층',
 '서울특별시 용산구 이태원동 127-12',
 '서울특별시 마포구 노고산동 40-9',
 '서울특별시 영등포구 여의도동 43-3 홍우빌딩 1층',
 '서울특별시강남구 대치4동 911-8',
 '서울특별시 강남구 신사동 532-9',
 '서울특별시 강남구 청담동 129-10',
 '서울특별시 성동구 홍익동 431',
 '서울특별시 중구 을지로3가 202',
 '서울특별시 서초구 양재동 392-11',
 '서울특별시 종로구 돈의동 27',
 '서울특별시 중구 명동2가 25-2',
 '서울특별시 성북구 성북동1가 9',
 '서울특별시 관악구 청림동 16-41',
 '서울특별시 성동구 성수동1가 668-21',
 '서울특별시 마포구 용강동 40-1',
 '서울특별시 성동구 마장동 767-41',
 '서울특별시 강남구 신사동 619-4',
 '서울특별시 마포구 상수동 317-7',
 '서울특별시 마포구 서교동 343-11 1층',
 '서울특별시 마포구 성산1동 114-5',
 '서울특별시 종로구 서린동 129-1',
 '서울특별시 동대문구 청량리동 773',
 '서울특별시 송파구 문정1동 46-11',
 '서울특별시 동대문구 제기동 67-6',
 '서울특별시 중구 서소문동 120-12',
 '서울특별시 중구 을지로3가 229-1',
 '서울특별시 송파구 방이동 205-8',
 '서울특별시 마포구 서교동 391-5',
 '서울특별시 중구 을지로1가 192-11 재능빌딩 1층',
 '서울특별시 용산구 한남동 683-122',
 '서울특별시 서대문구 냉천동 178',
 '서울특별시 종로구 당주동 43',
 '서울특별시 마포구 도화동 181-45',
 '서울특별시 중구 주교동 43-23',
 '서울특별시 강남구 청담동 1-25',
 '서울특별시 동대문구 용두동 201-2',
 '서울특별시 종로구 내수동 167 대우복합빌딩 지하 104호',
 '서울특별시 종로구 부암동 245-2',
 '서울특별시 종로구 통의동 7-23',
 '서울특별시 종로구 효자동 40-2',
 '서울특별시 강남구 신사동 645-1',
 '서울특별시 강남구 신사동 549-9',
 '서울특별시 서초구 반포본동 1050',
 '서울특별시 중구 충무로1가 25-32',
 '서울특별시 종로구 사간동 93',
 '서울특별시 마포구 상수동 310-8',
 '서울특별시 성북구 성북동 256-1',
 '서울특별시 서초구 잠원동 21-5',
 '서울특별시 종로구 구기동 64-5',
 '서울특별시 종로구 청진동 166 르메이에르 2층',
 '서울특별시 송파구 송파동 195-1',
 '서울특별시 서초구 방배동 795-5',
 '서울특별시 중구 태평로2가 23 더 플라자 호텔 3층',
 '서울특별시 강남구 논현동 99-7',
 '서울특별시 마포구 마포동 140',
 '서울특별시 마포구 신공덕동 2-463',
 '서울특별시 서초구 양재동 368',
 '서울특별시 강남구 논현동 97-18',
 '서울특별시 강남구 신사동 514-9 지하1층',
 '서울특별시 광진구 광장동 21',
 '서울특별시 강남구 신사동 646-2',
 '서울특별시 용산구 한남동 743-33',
 '서울특별시 서초구 반포동 72-3',
 '서울특별시 서초구 반포동 551-32',
 '서울특별시 영등포구 여의도동 23-8',
 '서울특별시 마포구 창전동 5-78',
 '서울특별시 마포구 공덕동 105-127',
 '서울특별시 종로구 소격동 122-3',
 '서울특별시 송파구 방이동 205-8',
 '서울특별시 중구 입정동 161',
 '서울특별시 중구 주교동 118-1',
 '서울특별시 종로구 견지동 88',
 '서울특별시 강남구 대치4동 923-22 B1F',
 '서울특별시 도봉구 도봉1동 600-4',
 '서울특별시 서대문구 연희동 192-29',
 '서울특별시 중구 오장동 101-7',
 '서울특별시 강남구 압구정동 429 현대백화점 5층',
 '서울특별시 용산구 이촌동 301-162',
 '서울특별시 영등포구 영등포동3가 15-4',
 '서울특별시 서초구 양재동 1-8',
 '서울특별시 중구 장충동1가 62-16',
 '서울특별시 마포구 서교동 361-10 2층',
 '서울특별시 영등포구 신길동 342-325',
 '서울특별시 용산구 원효로1동 48-7',
 '서울특별시 중구 저동2가 18-1',
 '서울특별시 마포구 연남동 223-15',
 '서울특별시 용산구 이태원동 176-2 영화빌딩 3층',
 '서울특별시 용산구 후암동 194-15',
 '서울특별시 강남구 신사동 528-3',
 '서울특별시 종로구 종로6가 289-3 JW메리어트 동대문 스퀘어 서울특별시 2층',
 '서울특별시 강남구 청담동 89-6 영인빌딩',
 '서울특별시 용산구 이태원동 211-33',
 '서울특별시 서대문구 연희동 353-94',
 '서울특별시 용산구 이태원동 130-3',
 '서울특별시 중구 소공동 87',
 '서울특별시 중구 명동1가 1-3',
 '서울특별시 종로구 창신동 148-1',
 '서울특별시 마포구 연남동 227-15',
 '서울특별시 강남구 신사동 530-5 2, 3층',
 '서울특별시 서초구 반포동 90-10',
 '서울특별시 서초구 반포동 577-20',
 '서울특별시 마포구 당인동 25-22',
 '서울특별시 강남구 청담동 19-17',
 '서울특별시 종로구 낙원동 284-6 (낙원상가 B1F 148호)',
 '서울특별시 영등포구 여의도동 21-3',
 '서울특별시 용산구 한남동 743-7',
 '서울특별시 용산구 한남동 30-1',
 '서울특별시 중구 입정동 272-2',
 '서울특별시 중구 산림동 84-1',
 '서울특별시 마포구 도화동 38-25',
 '서울특별시 강남구 청담동 133-6 1F (승창빌딩 1층)',
 '서울특별시 강남구 논현동 254-23',
 '서울특별시 강남구 신사동 630-1',
 '서울특별시 강남구 신사동 651-16 호림아트센터',
 '서울특별시 강남구 청담동 21-16',
 '서울특별시 강남구 청담동 89-17',
 '서울특별시 종로구 관훈동 106',
 '서울특별시 마포구 연남동 260-2',
 '서울특별시 마포구 용강동 494-56',
 '서울특별시 중구 명동1가 10-4',
 '서울특별시 영등포구 영등포동2가 94-28',
 '서울특별시 강남구 논현동 95-4',
 '서울특별시 용산구 이태원1동 63-4',
 '서울특별시 마포구 서교동 395-124',
 '서울특별시 중구 다동 134-4',
 '서울특별시 강남구 역삼동 647-7',
 '서울특별시 성북구 성북동 184-40',
 '서울특별시 강남구 역삼동 810-12',
 '서울특별시 종로구 재동 84-22',
 '서울특별시 용산구 이태원동 56-30',
 '서울특별시 용산구 한남동 682-22',
 '서울특별시 용산구 이태원동 650',
 '서울특별시 마포구 공덕동 469',
 '서울특별시 서초구 반포동 94-10',
 '서울특별시 강남구 신사동 624-19',
 '서울특별시 강남구 논현동 118-1',
 '서울특별시 강남구 신사동 535-9',
 '서울특별시 용산구 이태원동 73-7',
 '서울특별시 마포구 망원동 481-5',
 '서울특별시 마포구 망원동 404-3',
 '서울특별시 마포구 망원동 395-36 ',
 '서울특별시 강남구 신사동 512-20',
 '서울특별시 중구 북창동 65-1',
 '서울특별시 광진구 화양동 37-1',
 '서울특별시 종로구 낙원동 45-3',
 '서울특별시 중구 인현동1가 15-4',
 '서울특별시 용산구 보광동 238-43',
 '서울특별시 마포구 연남동 227-15',
 '서울특별시 마포구 서교동 469-67',
 '서울특별시 마포구 연남동 226-16',
 '서울특별시 중구 장충동2가 186-54 그랜드 앰배서더호텔 2층',
 '서울특별시 강서구 방화동 323-6',
 '서울특별시 강남구 신사동 540-19',
 '서울특별시 강남구 신사동 656-7 2층',
 '서울특별시 강남구 청담동 83-1',
 '서울특별시 강남구 대치동 894-4',
 '서울특별시 서초구 잠원동 19-12',
 '서울특별시 종로구 종로1가 24 르메이에르 1층',
 '서울특별시 종로구 내자동 11-1',
 '서울특별시 마포구 서교동 402-3',
 '서울특별시 마포구 대흥동 337-62',
 '서울특별시 양천구 목동 905-34 하나프라자 106호',
 '서울특별시 서초구 방배동 790',
 '서울특별시 종로구 소격동 159',
 '서울특별시 강남구 논현동 63-4 솔빛빌딩',
 '서울특별시 중구 예장동 산 5-6',
 '서울특별시 용산구 이태원동 691',
 '서울특별시 용산구 이태원2동 210-1',
 '서울특별시 용산구 이태원동 34-16',
 '서울특별시 강남구 청담동 88-9',
 '서울특별시 강남구 청담동 88-5',
 '서울특별시 마포구 용강동 50-13',
 '서울특별시 서초구 서초동 1341-9',
 '서울특별시 용산구 용산동3가 1-21',
 '서울특별시 중구 필동3가 1-5',
 '서울특별시 용산구 남영동 97-5',
 '서울특별시 강남구 삼성동 159-7',
 '서울특별시 마포구 서교동 403-21',
 '서울특별시 중구 입정동 272-8',
 '서울특별시 강남구 삼성동 162-7',
 '서울특별시 강남구 논현동 62-13 (관우회관 지하)',
 '서울특별시 서초구 방배동 425-1',
 '서울특별시 종로구 부암동 258-3',
 '서울특별시 마포구 상수동 317-9',
 '서울특별시 용산구 한남동 738-24',
 '서울특별시 동대문구 신설동 104-3',
 '서울특별시 중구 충무로1가 25-36',
 '서울특별시 강남구 청담동 7-12',
 '서울특별시 서초구 서초동 1668-7',
 '서울특별시 강남구 청담동 4-1',
 '서울특별시 종로구 청진동 146',
 '서울특별시 용산구 한강로1가 231-23',
 '서울특별시 종로구 내수동 72',
 '서울특별시 중구 충무로5가 8-2',
 '서울특별시 서초구 반포동 106-8',
 '서울특별시 강남구 삼성동 166-6',
 '서울특별시 용산구 이태원동 457-3',
 '서울특별시 강남구 논현로 159길 11',
 '서울특별시 영등포구 여의도동 13-3',
 '서울특별시 강남구 청담동 130-13',
 '서울특별시 서초구 반포동 106-5',
 '서울특별시 강남구 삼성동 10-8',
 '서울특별시 강남구 신사동 653-7',
 '서울특별시 마포구 상수동 310-11',
 '서울특별시 마포구 서교동 332-20',
 '서울특별시 용산구 이태원동 648',
 '서울특별시 마포구 서교동 366-13',
 '서울특별시 마포구 연남동 259-4',
 '서울특별시 종로구 통인동 147-15',
 '서울특별시 강남구 삼성동 143-1',
 '서울특별시 마포구 합정동 381-64',
 '서울특별시 강남구 신사동 661-1',
 '서울특별시 서초구 방배동 797-20',
 '서울특별시 종로구 소격동 158-1',
 '서울특별시 용산구 용산동2가 45-13',
 '서울특별시 용산구 이태원동 261-9',
 '서울특별시 마포구 연남동 387-8',
 '서울특별시 마포구 연남동 229-67',
 '서울특별시 마포구 망원동 385-39',
 '서울특별시 마포구 상수동 93-28',
 '서울특별시 송파구 송파동 57',
 '서울특별시 용산구 한강로동 137-1',
 '서울특별시 마포구 연남동 257-8 1층',
 '서울특별시 서대문구 연희동 89-50',
 '서울특별시 종로구 수송동 25-2',
 '서울특별시 종로구 낙원동 1',
 '서울특별시 강남구 청담동 88',
 '서울특별시 중구 을지로3가 315-18',
 '서울특별시 중구 북창동 81',
 '서울특별시 서초구 서초동 1303-10',
 '서울특별시 강동구 성내동 595',
 '서울특별시 강남구 신사동 653-2',
 '서울특별시 마포구 용강동 43-2',
 '서울특별시 관악구 봉천동 876-19',
 '서울특별시 종로구 통인동 137-7',
 '서울특별시 종로구 통인동 27-2',
 '서울특별시 종로구 통인동 137-9',
 '서울특별시 종로구 통인동 73',
 '서울특별시 강남구 신사동 525-7',
 '서울특별시 강남구 역삼1동 828-53',
 '서울특별시 광진구 화양동 20-25',
 '서울특별시 영등포구 당산동4가 1-145',
 '서울특별시 종로구 돈의동 7-1',
 '서울특별시 종로구 명륜4가 107 지하 1층',
 '서울특별시 중구 명동1가 59-13',
 '서울특별시 중구 수하동 66 페럼타워빌딩 지하1층',
 '서울특별시 용산구 용산동3가 1-64',
 '서울특별시 영등포구 여의도동 36-4',
 '서울특별시 마포구 합정동 383-9',
 '서울특별시 마포구 연남동 260-16',
 '서울특별시 마포구 동교동 148-2',
 '서울특별시마포구 연남동 258-1',
 '서울특별시 용산구 한남동 641-9',
 '서울특별시 강남구 신사동 657-7',
 '서울특별시 영등포구 여의도동 15-24',
 '서울특별시 강남구 서초동 1308-1',
 '서울특별시 강남구 신사동 661-18',
 '서울특별시 종로구 적선동 13-2',
 '서울특별시 강남구 대치4동 913-7',
 '서울특별시 송파구 삼전동 132-13',
 '서울특별시 용산구 후암동 194-3',
 '서울특별시 강남구 신사동 512-18',
 '서울특별시 용산구 이촌동 301-153',
 '서울특별시 용산구 이촌동 301-160',
 '서울특별시 용산구 한강로3가 65-550',
 '서울특별시 종로구 평창동 114-12',
 '서울특별시 용산구 한남동 683-63',
 '서울특별시 강남구 삼성동 112-5',
 '서울특별시 강남구 대치동 908-17',
 '서울특별시 서대문구 연희동 90-5',
 '서울특별시 서초구 반포동 90-11',
 '서울특별시특별시 용산구 한남동 72-1',
 '서울특별시 서초구 서초동 1317-27 GT타워 3층',
 '서울특별시 강남구 청담동 95-15 2층',
 '서울특별시 용산구 한남동 1-90',
 '서울특별시 성동구 도선동 50',
 '서울특별시 중구 신당동 132-31',
 '서울특별시 동대문구 장안동 433-15',
 '서울특별시 성동구 성수동 상원길 40',
 '서울특별시 강동구 성내동 413-13',
 '서울특별시 강남구 신사동 646-16 1층',
 '서울특별시 강남구 봉은사로 78길 12',
 '서울특별시 용산구 이태원로 15길1 2층',
 '서울특별시 용산구 녹사평대로 220 2층',
 '서울특별시 영등포구 여의도동 국회대로 76길',
 '서울특별시 강남구 논현동 115-10',
 '서울특별시 중구 장충동 2가 동호로24길 21',
 '서울특별시 송파구 방이동 180-3 2층',
 '서울특별시 마포구 마포대로 12길 50',
 '서울특별시 송파구 백제고분로길7길 52-29',
 '서울특별시 서초구 동광로15길 10 광원빌딩',
 '서울특별시 노원구 공릉동 공릉로 32길 54',
 '서울특별시 종로구 익선동 166-57',
 '서울특별시 강남구 언주로 164길 34-2',
 '서울특별시 중구 황학동 380 퇴계로85길 11',
 '서울특별시 종로구 팔판동 14',
 '서울특별시 동작구 상도동 상도로 278',
 '서울특별시 강남구 대치동 894-5번지',
 '서울특별시 성동구 성수동 왕십리로 14길 34-3',
 '서울특별시 광진구 광장동 326-9',
 '서울특별시 강남구 역삼동 605-9',
 '서울특별시 중구 약수동 다산로 108 ',
 '서울특별시 성동구 도선동 무학로6길 50 성동삼성쉐르빌',
 '서울특별시 마포구 망원동 411-8 1층',
 '서울특별시 동작구 노량진동 장승배기로19길 16',
 '서울특별시 광진구 자양동 4-1',
 '서울특별시 강남구 테헤란로 64길 26 2층 대치동 897-27',
 '서울특별시 용산구 이태원로 20길 22 한남동 683-123',
 '서울특별시 송파구 석촌동 2-1',
 '서울특별시 관악구 청룡동 914-27',
 '서울특별시 종로구 내자동 1-2',
 '서울특별시 강남구 언주로 605 논현동 237-5',
 '서울특별시 서초구 방배로26길 22 방배동 876-41',
 '서울특별시 종로구 누하동 90-2',
 '서울특별시 동작구 동작대로17길 3 사당1동 1008-15',
 '서울특별시 강남구 대치동 897-3 선릉로 420',
 '서울특별시 마포구 상암동 1597번지',
 '서울특별시 관악구 봉천동 915-26',
 '서울특별시 중구 을지로3길 24 다동 125',
 '서울특별시 영등포구 여의도동 국제금융로8길 19',
 '서울특별시 성동구 성수1가 1동 656-318',
 '서울특별시 강동구 풍성로58길 34 성내3동 428-9',
 '서울특별시 영등포구 시흥대로185길 11 대림1동 963-9',
 '서울특별시 강남구 대치동 896-33 선릉로86길 40-4',
 '서울특별시 종로구 창신길 18 창신동 573-1',
 '서울특별시 마포구 월드컵북로 41 서교동 449-35',
 '서울특별시 강남구 신사동 615-1 코끼리상가 1층',
 '서울특별시 강서구 송정로 43 공항동 60-34',
 '서울특별시 마포구 독막로 68 상수동 321-1 2층',
 '서울특별시 영등포구 당산로37길 1 당산동4가 49 2층',
 '서울특별시 종로구 삼봉로 100-1 공평동 129',
 '서울특별시 구로구 공원로6나길 35-2 구로동 29-22',
 '서울특별시 종로구 자하문로7길 9 체부동 26',
 '서울특별시 용산구 두텁바위로 10 남영동 3-4',
 '서울특별시 강남구 압구정로4길 27-3 신사동 523-31 1층',
 '서울특별시 강남구 선릉로152길 33 청담동 90-25',
 '서울특별시 강남구 도산대로90길 13 청담동 50-8 1층',
 '서울특별시 용산구 청파로 32 청파동1가 149-3',
 '서울특별시 강남구 강남대로 538 논현동 142-2 정일빌딩',
 '서울특별시 서대문구 연세로5길 30 창천동 62-3',
 '서울특별시 노원구 공릉로 208 공릉동 208-18',
 '서울특별시 은평구 통일로87길 8-1 갈현동 412-5',
 '서울특별시 송파구 위례성대로22나길 21 오금동 10',
 '서울특별시 송파구 송파대로30길 11 가락동 97-8',
 '서울특별시 강북구 삼각산로 67 인수동 521-20',
 '서울특별시 종로구 인사동5길 15-1 인사동 190-2',
 '서울특별시 강남구 압구정로42길 25-10 신사동 643-20',
 '서울특별시 강남구 봉은사로26길 12 역삼동 605-2',
 '서울특별시 관악구 관악로28길 7 행운동 36-20 1층',
 '서울특별시 강남구 강남대로160길 10 신사동 508-1',
 '서울특별시 광진구 뚝섬로27길 48 자양동 851-20',
 '서울특별시 용산구 이태원로 136-1 이태원동 34-14 2층',
 '서울특별시 서대문구 연희로11가길 53 연희동 192-29',
 '서울특별시 종로구 삼일대로 388-12 관철동 27-1 대진빌딩',
 '서울특별시 마포구 양화로7길 44-10 서교동 385-6 3차신도빌라',
 '서울특별시 중구 퇴계로31길 11 필동1가 3-20',
 '서울특별시 종로구 지봉로 12 창신동 394-1',
 '서울특별시 서초구 강남대로99길 35 잠원동 22-1',
 '서울특별시 강남구 도산대로30길 23 논현동 67-11',
 '서울특별시 송파구 삼전로12길 4 삼전동 3-1',
 '서울특별시 성동구 왕십리로 215-1 행당동 32-22',
 '서울특별시 중랑구 용마산로 389 면목동 50-46 석주빌딩',
 '서울특별시 마포구 굴레방로1길 6 아현동 275-2',
 '서울특별시 마포구 어울마당로5길 29 서교동 400-22 건우상가주택',
 '서울특별시 용산구 유엔빌리지길 14 한남동 274-13',
 '서울특별시 용산구 이태원로27가길 5 이태원동 123-3',
 '서울특별시 강남구 테헤란로25길 34 역삼동 641-18',
 '서울특별시 영등포구 도림로 471 문래동4가 7-4',
 '서울특별시 용산구 녹사평대로 174-11 이태원동 34-8',
 '서울특별시 강남구 남부순환로359길 19 도곡동 955-12',
 '서울특별시 성동구 성수일로4길 4 성수1가1동 27-12',
 '서울특별시 용산구 이태원로4길 24 한강로1가 166-2',
 '서울특별시 용산구 녹사평대로54길 20 이태원2동 273-20',
 '서울특별시 양천구 목동로2길 1 신정4동 993-3',
 '서울특별시 서초구 서초중앙로28길 16 서초동 1697-11 1층',
 '서울특별시 종로구 사직로8길 24 내수동 71 경희궁의아침 2단지',
 '서울특별시 종로구 종로35길 21-4 효제동 225',
 '서울특별시 강남구 논현로106길 6 역삼동 659-11 봉산빌딩 2층',
 '서울특별시 마포구 동교로25길 7 동교동 201-10 1층',
 '서울특별시 성북구 성북로26길 8 성북동 248',
 '서울특별시 서대문구 연희로25길 92 연희동 90-12',
 '서울특별시 종로구 무교로 42 서린동 128-1',
 '서울특별시 중구 무교로 32 무교동 1 효령빌딩',
 '서울특별시 서초구 반포대로30길 32 서초동 1555-2',
 '서울특별시 강남구 도산대로 318 논현동 92 SB타워 별관 C동 2층',
 '서울특별시 서초구 남부순환로337길 36 서초동 1430-1',
 '서울특별시 용산구 장문로 112 보광동 70-19',
 '서울특별시 양천구 목동중앙북로7가길 43 목동 611-21',
 '서울특별시 마포구 월드컵로19길 14 망원동 57-38',
 '서울특별시 용산구 신흥로 35 용산동2가 44-7',
 '서울특별시특별시 용산구 소월로 268 이태원동 260-18',
 '서울특별시특별시 금천구 시흥대로 97 시흥동 984 시흥유통상가 BB 53호',
 '서울특별시특별시 광진구 광나루로 373 군자동 361-32',
 '서울특별시 중구 을지로 4가 60 을지로 175-5',
 '서울특별시 중구 을지로20길 24 인현동1가 15-4',
 '서울특별시 강남구 영동대로96길 26 삼성동 169-8 9층',
 '서울특별시 용산구 백범로87길 50-1 원효로1가 43-3',
 '서울특별시 성북구 돌곶이로 162 장위동 75-1',
 '서울특별시 영등포구 도림천로11길 13 대림동 1056-7',
 '서울특별시 구로구 가리봉동 131-22 디지털로19길 12',
 '서울특별시 서초구 사평대로20길 8, 반포동 107-2 성훈빌딩',
 '서울특별시 용산구 신흥로36길 4',
 '서울특별시 강남구 압구정로29길 72-1 신사시장 내',
 '서울특별시 종로구 종로51가길 2-1',
 '서울특별시 중구 을지로13길 19',
 '서울특별시 강남구 논현로153길 24',
 '서울특별시 은평구 서오릉로 242',
 '서울특별시 종로구 종로40가길 18',
 '서울특별시 중구 동호로24길 7',
 '서울특별시 중구 소공로6길 13',
 '서울특별시 강남구 도산대로27길 16',
 '서울특별시 용산구 우사단로10길 11',
 '서울특별시 광진구 동일로18길 23',
 '서울특별시 동대문구 무학로43길 44',
 '서울특별시 강남구 봉은사로 524 삼성동 159',
 '서울특별시 강남구 역삼로17길 53 역삼동 739-13',
 '서울특별시 강남구 도산대로1길 40 신사동 507-11',
 '서울특별시 영등포구 국제금융로6길 33 여의도동 36-2',
 '서울특별시 강남구 강남대로 628 신사동 502-1 신사빌딩 1층',
 '서울특별시 용산구 이태원로 230-1 한남동 683-124',
 '서울특별시 마포구 새창로 8-1 도화동 181-45',
 '서울특별시 강남구 압구정로 338 신사동 661-1',
 '서울특별시 영등포구 여의나루로 57 여의도동 25-12 신송센터 빌딩 지하1층',
 '서울특별시 은평구 연서로 257 1층 불광동 314-34',
 '서울특별시 마포구 토정로37길 47 염리동 173-21',
 '서울특별시 마포구 마포대로12길 54-2 공덕동 249-61',
 '서울특별시 강남구 도산대로90길 3 청담동 50-13 상민빌딩',
 '서울특별시 마포구 성지길 30 합정동 375-5',
 '서울특별시 서초구 양재대로12길 73-71 만남의광장 원지동 10-16',
 '서울특별시 종로구 성균관로16길 5 명륜1가 31-7',
 '서울특별시 강남구 도산대로 231 신사동 629-32',
 '서울특별시 영등포구 국제금융로2길 37 여의도동 26 에스트레뉴 지하1층',
 '서울특별시 강남구 언주로146길 18 논현동 105 동현아파트 6동',
 '서울특별시 용산구 한남대로20길 47-10 한남동 31-5 리플레이스 한남 C동 2층',
 '서울특별시 용산구 독서당로 65-3 한남동 72-17',
 '서울특별시 강남구 도산대로 514 청담동 49-8',
 '서울특별시 강북구 솔매로 117-1 미아동 211-7',
 '서울특별시 양천구 목동동로10길 16-5 신정동 134-25 태우빌딩',
 '서울특별시 영등포구 여의나루로 67 여의도동 25-6 신송빌딩',
 '서울특별시 마포구 대흥동 139-6',
 '서울특별시 마포구 마포대로 186-6 공덕동 105-127 선화의원',
 '서울특별시 영등포구 은행로 29 여의도동 13-25 정우빌딩',
 '서울특별시 용산구 이촌로 303 이촌동 301-160 현대맨숀',
 '서울특별시 용산구 독서당로 67 한남동 261-6',
 '서울특별시 강남구 논현로85길 5-4 역삼동 738-5',
 '서울특별시 강남구 학동로59길 43 청담동 26-5',
 '서울특별시 마포구 어울마당로 122-1 서교동 346-42 지하1층',
 '서울특별시 용산구 대사관로34길 38 한남동 618-6',
 '서울특별시 종로구 수표로 122 낙원동 139',
 '서울특별시 마포구 도화길 31-1 도화동 179-11',
 '서울특별시 마포구 와우산로 159 서교동 326-10 1층',
 '서울특별시 마포구 성미산로 152 연남동 239-48',
 '서울특별시 종로구 자하문로9길 11 통인동 137-7',
 '서울특별시 용산구 이촌동 300-3 렉스상가 12-2',
 '서울특별시 용산구 이태원로55가길 28 한남동 743-33 1층 부자피자',
 '서울특별시 종로구 자하문로5길 5 체부동 85-1 토속촌',
 '서울특별시 강남구 압구정로79길 32 청담동 124-11',
 '서울특별시 강남구 압구정로 343 압구정동 494 갤러리아백화점명품관WEST B1',
 '서울특별시 강남구 봉은사로84길 10 삼성동 146-23',
 '서울특별시 용산구 대사관로 34, 한남동 653-95',
 '서울특별시 용산구 서빙고로 297 동빙고동94',
 '서울특별시 종로구 옥인길 33 누상동 52-2',
 '서울특별시 영등포구 여의대로 24 여의도동 28-1 전경련회관 50, 51F',
 '서울특별시 용산구 이촌로 319 이촌동 301-162 현대아파트',
 '서울특별시 종로구 필운대로 17 필운동 90-1',
 '서울특별시 용산구 이촌로 182 이촌동 302-68 풍원상가 1F',
 '서울특별시 강남구 도산대로 45길 10-11 신사동 648-15 JYC2빌딩',
 '서울특별시 강서구 공항대로51길 27 등촌동 654-78',
 '서울특별시 송파구 송파대로 471 석촌동 183-3',
 '서울특별시 강남구 강남대로122길 15 논현동 163-17 상당빌딩',
 '서울특별시 종로구 수표로28길 23 익선동 174 1층',
 '서울특별시 영등포구 국제금융로 6길 33 여의도동 36-2 여의도백화점 지하 1층',
 '서울특별시 종로구 견지동 88',
 '서울특별시 종로구 평창동 281-1',
 '서울특별시 중구 다동 165-1',
 '서울특별시 중구 남창동 50-43',
 '서울특별시 동대문구 용신동 767-6',
 '서울특별시 중구 서소문동 64-4',
 '서울특별시 종로구 종로1가 24',
 '서울특별시 중구 명동1가 10-4',
 '서울특별시 강남구 신사동 619-4',
 '서울특별시 동대문구 신설동 94-57',
 '서울특별시 중구 주교동 118-1',
 '서울특별시 영등포구 당산동 2가 162-13',
 '서울특별시 중구 서소문동 120-15',
 '서울특별시 성북구 길음동 1065',
 '서울특별시 중구 명동 2가 31-7',
 '서울특별시 중구 남창동 34-31',
 '서울특별시 중구 주교동 118-3',
 '서울특별시 마포구 노고산동 109-69',
 '서울특별시 마포구 공덕동 255-5',
 '서울특별시 종로구 공평동 130-1',
 '서울특별시 영등포구 대림1동 963-9',
 '서울특별시 중구 오장동 90-10',
 '서울특별시 성북구 동소문동 5가 73-2',
 '서울특별시 중구 충무로1가 24-11',
 '서울특별시 중구 서소문동 55-3',
 '서울특별시 종로구 인의동 112-14 세운스퀘어 401호',
 '서울특별시 마포구 염리동 173-21',
 '서울특별시 중구 서소문동 120-35',
 '서울특별시 중구 명동9길 12',
 '서울특별시 노원구 공릉로63길 13',
 '서울특별시 중구 소공로 100',
 '서울특별시 성북구 오패산로 16',
 '서울특별시 종로구 서순라길 141',
 '서울특별시 강남구 언주로98길 5',
 '서울특별시 중구 장충단로 174-6',
 '서울특별시 서초구 서운로 136',
 '서울특별시 중구 동호로 249',
 '서울특별시 서대문구 통일로9안길 14',
 '서울특별시 송파구 양재대로71길 1-4',
 '서울특별시 종로구 종로39길 50',
 '서울특별시 중구 창경궁로 62-29',
 '서울특별시 강남구 삼성동 48-4',
 '서울특별시 서대문구 대현동 56-33',
 '서울특별시 영등포구 양평동 4가 77-3',
 '서울특별시 강남구 대치동 983',
 '서울특별시 강남구 논현동 143-26',
 '서울특별시 강서구 등촌동 674-2',
 '서울특별시 강남구 청담동 19-17',
 '서울특별시 용산구 한강로1가 142-4',
 '서울특별시 종로구 삼청동 127-4',
 '서울특별시 종로구 적선동 27',
 '서울특별시 중구 다동 165-1',
 '서울특별시 서대문구 냉천동 178',
 '서울특별시 성동구 마장동 767-41',
 '서울특별시 강남구 청담동 1-15',
 '서울특별시 마포구 염리동 149-9',
 '서울특별시 영등포구 영등포동 4가 55',
 '서울특별시 성북구 성북동 1가 35-5',
 '서울특별시 마포구 창전동 4-2',
 '서울특별시 서초구 서초3동 1450-6',
 '서울특별시 종로구 권농동 148',
 '서울특별시 중구 충무로1가 24-11',
 '서울특별시 종로구 종로1가 24 르메이에르종로타운 1층 청진동 146',
 '서울특별시 강남구 신사동 619-4',
 '서울특별시 송파구 송파동 195-1',
 '서울특별시 강서구 등촌동 654-95',
 '서울특별시 강남구 역삼1동 647-7',
 '서울특별시 종로구 서린동 127',
 '서울특별시 종로구 견지동 88',
 '서울특별시 강남구 대치동 987-7',
 '서울특별시 강동구 성내동 549-4',
 '서울특별시 서초구 반포동 745',
 '서울특별시 강남구 신사동 522',
 '서울특별시 강남구 역삼동 641-18',
 '서울특별시 서대문구 연희동 193-6',
 '서울특별시 용산구 이태원동 124-9',
 '서울특별시 서초구 서초3동 1451-9',
 '서울특별시 마포구 서교동 372-1 3층',
 '서울특별시 광진구 자양 4동 5-11',
 '서울특별시 서초구 서초동 1572-14',
 '서울특별시 중구 인현동 2가 135-13',
 '서울특별시 동대문구 청량리동 773',
 '서울특별시 동대문구 청량리동 773',
 '서울특별시 강남구 역삼동 725-25',
 '서울특별시 강남구 역삼동 725-25',
 '서울특별시 노원구 상계동 1267 토마토파르코빌딩 225-230',
 '서울특별시 중구 신당동 142-3',
 '서울특별시 강남구 논현동 183-8',
 '서울특별시 영등포구 영등포동 3가 12-18',
 '서울특별시 강서구 방화동 451-8',
 '서울특별시 성동구 금호동3가 375 독서당로 297-6',
 '서울특별시 관악구 서림동 110-6',
 '서울특별시 중구 을지로 6가 18-71',
 '서울특별시 영등포구 대림동 963-9',
 '서울특별시 용산구 이태원 1동 127-2',
 '서울특별시 송파구 삼전동 132-14',
 '서울특별시 종로구 관수동 43-2',
 '서울특별시 마포구 망원동 482-3',
 '서울특별시 강남구 삼성동 154-11',
 '서울특별시 영등포구 여의도동 17',
 '서울특별시 관악구 봉천동 914-3',
 '서울특별시 마포구 서교동 346-16',
 '서울특별시 강남구 논현동 105 동현아파트 상가 지하',
 '서울특별시 서초구 서초동 1307',
 '서울특별시 종로구 관훈동 88',
 '서울특별시 서대문구 창천동 52-20',
 '서울특별시 용산구 이태원동 580 2층',
 '서울특별시 은평구 불광동 281-159',
 '서울특별시 중구 남창동 34-53',
 '서울특별시 광진구 화양동 508-2',
 '서울특별시 강남구 신사동 519-4',
 '서울특별시 서초구 서초동 1459-6',
 '서울특별시 송파구 문정동 641-4 116호',
 '서울특별시 종로구 효제동 226-1',
 '서울특별시 용산구 한강로 3가 40-90',
 '서울특별시 강서구 마곡동 722-3',
 '서울특별시 강서구 가양동 238-7',
 '서울특별시 강남구 논현동 272-31',
 '서울특별시 영등포구 여의도동 36-4',
 '서울특별시 마포구 서교동 358-136',
 '서울특별시 마포구 망원동 416-33',
 '서울특별시 마포구 상암동 12-79',
 '서울특별시 종로구 관훈동 6',
 '서울특별시 강남구 역삼동 696-31',
 '서울특별시 서초구 반포동 707-8',
 '서울특별시 서초구 양재동 2-13',
 '서울특별시 서초구 서초동 1327-35',
 '서울특별시 강남구 신사동 655-8',
 '서울특별시 강서구 염창동 5-17 유림보신원',
 '서울특별시 은평구 불광 1동 281-162',
 '서울특별시 강남구 논현동 97-18',
 '서울특별시 서초구 서초동 1621-5 지하 1층',
 '서울특별시 노원구 공릉동 571-16',
 '서울특별시 중구 북창동 104',
 '서울특별시 종로구 창신동 573-1',
 '서울특별시 영등포구 문래동 4가 8-18',
 '서울특별시 관악구 행운동 1666-2',
 '서울특별시 마포구 공덕동 22-13',
 '서울특별시 강남구 역삼동 689-6',
 '서울특별시 마포구 서교동 358-118',
 '서울특별시 서초구 서초동 1689-5',
 '서울특별시 용산구 한강로3가 40-441',
 '서울특별시 동작구 신대방동 375-21',
 '서울특별시 영등포구 영등포동 3가 4-7',
 '서울특별시 동대문구 용신동 119-20',
 '서울특별시 용산구 원효로 2가 80-18',
 '서울특별시 송파구 잠실동 207-19',
 '서울특별시 은평구 갈현동 460-18',
 '서울특별시 도봉구 방학동 677-20',
 '서울특별시 송파구 송파동 39-9',
 '서울특별시 영등포구 당산동 2가 162-13',
 '서울특별시 강남구 도곡동 424-5',
 '서울특별시 관악구 봉천동 894-2',
 '서울특별시 중구 무교동 87',
 '서울특별시 광진구 자양동 5-12',
 '서울특별시 마포구 도화동 181-5',
 '서울특별시 종로구 구기동 253-1',
 '서울특별시 서초구 양재동 353-4',
 '서울특별시 마포구 성산동 114-5',
 '서울특별시 용산구 이태원동 64-15',
 '서울특별시 마포구 망원동 455-1',
 '서울특별시 중랑구 신내동 644',
 '서울특별시 중구 남대문로 5가 526',
 '서울특별시 종로구 명륜4가 36-1',
 '서울특별시 강남구 도곡동 954-12',
 '서울특별시 서초구 양재동 13-9',
 '서울특별시 서초구 양재동 346',
 '서울특별시 서초구 양재동 1-26',
 '서울특별시 용산구 이태원동 457-3',
 '서울특별시 관악구 신림동 산56-1 서울특별시대학교 글로벌공학교육센터',
 '서울특별시 강남구 신사동 561-11 4층',
 '서울특별시 종로구 낙원동 139',
 '서울특별시 광진구 화양동 9-24',
 '서울특별시 종로구 소격동 159',

In [247]:
tasty_address = []
tasty_lat = []
tasty_lng = []

for name in tasty_name:
    tmp = gmaps.geocode(name, language='ko')
    tasty_address.append(tmp[0].get('formatted_address'))
    
    tmp_loc = tmp[0].get('geometry')
    
    tasty_lat.append(tmp_loc['location']['lat'])
    tasty_lng.append(tmp_loc['location']['lng'])

In [248]:
tasty_lat

[37.5934747,
 37.5932483,
 37.5701315,
 37.5402803,
 37.5711437,
 37.5371402,
 37.5713418,
 37.5525068,
 37.5613501,
 37.4924866,
 37.5792721,
 37.5584798,
 37.519303,
 37.5721944,
 37.5621851,
 37.5731318,
 37.5602232,
 37.4890197,
 37.4832519,
 37.553601,
 37.5391115,
 37.5795271,
 37.5293268,
 37.5838134,
 37.5526021,
 37.5175402,
 37.5605178,
 37.59441270000001,
 37.5652823,
 37.4773098,
 37.5702942,
 37.59173639999999,
 37.586514,
 37.5602339,
 37.5098824,
 37.6612172,
 37.6311902,
 37.5634694,
 37.6180804,
 37.5624711,
 37.5701527,
 37.5588136,
 37.5765539,
 37.5070171,
 37.5715762,
 37.574444,
 37.5919034,
 37.5162736,
 37.5428492,
 37.5756335,
 37.5702439,
 37.5455299,
 37.617039,
 37.5627511,
 37.6183341,
 37.5420696,
 37.5333085,
 37.56321399999999,
 37.541669,
 37.5132736,
 37.4722989,
 37.5704092,
 37.5727526,
 37.5899283,
 37.5344441,
 37.5603743,
 37.5536658,
 37.5939468,
 37.5480635,
 37.5826208,
 37.5698568,
 37.5381615,
 37.5801328,
 37.5487686,
 37.5554945,
 37.5028937,
 37.4772964,
 37.5449554,
 37.5382571,
 37.571729,
 37.5543706,
 37.533755,
 37.5727861,
 37.548434,
 37.5656355,
 37.5612859,
 37.54854479999999,
 37.5645518,
 37.5341873,
 37.5556348,
 37.5208907,
 37.5021874,
 37.522825,
 37.5255069,
 37.5674706,
 37.5671941,
 37.473216,
 37.5727526,
 37.5625339,
 37.5883894,
 37.4866557,
 37.5470143,
 37.5399268,
 37.5677281,
 37.5277368,
 37.5479485,
 37.5534575,
 37.5614066,
 37.5694548,
 37.5805697,
 37.4878837,
 37.5853247,
 37.562308,
 37.5667543,
 37.5099679,
 37.5516488,
 37.566203,
 37.5355765,
 37.5665708,
 37.571335,
 37.5420696,
 37.5686417,
 37.5218804,
 37.5794046,
 37.5726979,
 37.5930963,
 37.5788439,
 37.5816104,
 37.5261187,
 37.5240393,
 37.5014645,
 37.5610759,
 37.5775348,
 37.548027,
 37.5947284,
 37.5147666,
 37.6064933,
 37.5709593,
 37.500441,
 37.493179,
 37.564636,
 37.5211149,
 37.5383875,
 37.5446853,
 37.4696208,
 37.5206031,
 37.5178115,
 37.5556456,
 37.5256583,
 37.5372246,
 37.4984385,
 37.4972113,
 37.5238324,
 37.5541168,
 37.5505501,
 37.57989930000001,
 37.5099679,
 37.5675168,
 37.5681851,
 37.5727213,
 37.4980613,
 37.67708349999999,
 37.5662399,
 37.564238,
 37.5273312,
 37.5186483,
 37.5185662,
 37.48417999999999,
 37.5602232,
 37.5508352,
 37.5026132,
 37.5403959,
 37.56487389999999,
 37.56514740000001,
 37.5344441,
 37.5459975,
 37.5228498,
 37.5704076,
 37.5244653,
 37.5400369,
 37.5617911,
 37.5338391,
 37.5644408,
 37.5642938,
 37.5725333,
 37.5623371,
 37.5233872,
 37.4970448,
 37.4946895,
 37.5455663,
 37.5227258,
 37.5726662,
 37.5261946,
 37.5371402,
 37.5347306,
 37.5673431,
 37.5681545,
 37.5416829,
 37.512959,
 37.5136552,
 37.5224195,
 37.5225343,
 37.52206109999999,
 37.5257419,
 37.5749804,
 37.56184349999999,
 37.5427837,
 37.5643946,
 37.5222564,
 37.5218642,
 37.533505,
 37.550616,
 37.5673408,
 37.500418,
 37.5899558,
 37.5032279,
 37.57811299999999,
 37.533693,
 37.537944,
 37.53883829999999,
 37.54686969999999,
 37.4988905,
 37.5251704,
 37.5171683,
 37.5193063,
 37.5333318,
 37.5586284,
 37.5554204,
 37.5537575,
 37.517226,
 37.5627093,
 37.5452127,
 37.5735649,
 37.5653809,
 37.5302764,
 37.5623371,
 37.5577702,
 37.5625532,
 37.5602645,
 37.5774065,
 37.5189645,
 37.5253356,
 37.5267549,
 37.50447310000001,
 37.5154778,
 37.5708033,
 37.5763117,
 37.548419,
 37.5454764,
 37.5315688,
 37.49169,
 37.5787585,
 37.5203285,
 37.5518838,
 37.5394055,
 37.5401125,
 37.5338386,
 37.52425789999999,
 37.5247377,
 37.5398315,
 37.4885317,
 37.5343891,
 37.560355,
 37.5423952,
 37.5086154,
 37.5490416,
 37.5674802,
 37.5146855,
 37.5207636,
 37.4845914,
 37.5928384,
 37.5480344,
 37.5368776,
 37.5742381,
 37.5611212,
 37.5224752,
 37.493301,
 37.5232858,
 37.5708266,
 37.5339258,
 37.5732644,
 37.5631416,
 37.4988257,
 37.5121302,
 37.5343659,
 37.5228702,
 37.5302335,
 37.5243761,
 37.4989206,
 37.5139884,
 37.5241748,
 37.5481306,
 37.5558998,
 37.5386647,
 37.5520807,
 37.560848,
 37.5787236,
 37.5069677,
 37.5482563,
 37.5278854,
 37.493798,
 37.57876479999999,
 37.5411428,
 37.5431849,
 37.5626341,
 37.5634863,
 37.5537076,
 37.5488759,
 37.5108813,
 37.5304893,
 37.5620554,
 37.5694956,
 37.5754505,
 37.5741748,
 37.5253911,
 37.5660933,
 37.562582,
 37.50316979999999,
 37.5323014,
 37.5245792,
 37.5401003,
 37.4808405,
 37.5792842,
 37.5804621,
 37.5793654,
 37.579596,
 37.5222931,
 37.4962406,
 37.5467078,
 37.5275224,
 37.5729378,
 37.581773,
 37.5639929,
 37.5670349,
 37.5343045,
 37.520196,
 37.5494205,
 37.5615994,
 37.5600452,
 37.5621346,
 37.5324678,
 37.5258965,
 37.52747670000001,
 37.501439,
 37.5277028,
 37.5761676,
 37.50209090000001,
 37.5037727,
 37.5461092,
 37.5173418,
 37.520713,
 37.5185268,
 37.5229941,
 37.61129469999999,
 37.535842,
 37.5103037,
 37.5003498,
 37.5693908,
 37.4973018,
 37.5342512,
 37.4978826,
 37.5249677,
 37.5368135,
 37.5625881,
 37.5644931,
 37.563491,
 37.54768,
 37.5296194,
 37.52552850000001,
 37.511924,
 37.534568,
 37.5371951,
 37.5301506,
 37.5161072,
 37.5601587,
 37.5151239,
 37.5466859,
 37.5054602,
 37.4924752,
 37.6216698,
 37.5730285,
 37.525244,
 37.5662584,
 37.5834654,
 37.5025639,
 37.5043061,
 37.548443,
 37.5470714,
 37.5058926,
 37.5534008,
 37.5642285,
 37.5563801,
 37.5082264,
 37.5380635,
 37.5031025,
 37.5333274,
 37.5057237,
 37.481177,
 37.5764173,
 37.5093304,
 37.4892766,
 37.5803223,
 37.4826526,
 37.502459,
 37.5779481,
 37.4804534,
 37.5671067,
 37.5207214,
 37.5455368,
 37.5274385,
 37.4916965,
 37.50369269999999,
 37.57234529999999,
 37.5578931,
 37.528096,
 37.5586949,
 37.5475555,
 37.5293918,
 37.5717819,
 37.5043954,
 37.5792054,
 37.5450164,
 37.5215144,
 37.524223,
 37.5234472,
 37.5489616,
 37.5101814,
 37.5564718,
 37.628258,
 37.6234426,
 37.5089184,
 37.4955962,
 37.6399551,
 37.5725615,
 37.524124,
 37.5060399,
 37.4853662,
 37.5200841,
 37.5378699,
 37.5341338,
 37.5662399,
 37.571118,
 37.5526197,
 37.5617223,
 37.5710637,
 37.5147943,
 37.518396,
 37.5064178,
 37.5567281,
 37.5864395,
 37.5542982,
 37.5493528,
 37.53393210000001,
 37.5349401,
 37.5027159,
 37.5158835,
 37.5337848,
 37.4867371,
 37.5428632,
 37.5335902,
 37.5390595,
 37.5228867,
 37.4968516,
 37.573978,
 37.5721941,
 37.5065956,
 37.5588443,
 37.5950128,
 37.5697272,
 37.5696259,
 37.56870120000001,
 37.4917862,
 37.5219756,
 37.4843123,
 37.5263619,
 37.5494793,
 37.5549895,
 37.5416063,
 37.542602,
 37.4432532,
 37.5481363,
 37.5669832,
 37.5653809,
 37.5109071,
 37.5402195,
 37.6158199,
 37.4914923,
 37.4806388,
 37.49904069999999,
 37.5463549,
 37.5322509,
 37.5725333,
 37.5672187,
 37.5210505,
 37.6163119,
 37.5703353,
 37.55950929999999,
 37.5585871,
 37.520808,
 37.5331603,
 37.5397367,
 37.57961780000001,
 37.5101935,
 37.4982056,
 37.5192978,
 37.5207606,
 37.5221642,
 37.5354781,
 37.5420696,
 37.5278854,
 37.5236502,
 37.6201168,
 37.5428827,
 37.5470612,
 37.5228328,
 37.5474418,
 37.4601323,
 37.5887833,
 37.5213952,
 37.5229194,
 37.5193396,
 37.5348679,
 37.5339014,
 37.5239867,
 37.6261181,
 37.5188532,
 37.5234836,
 37.54807419999999,
 37.488795,
 37.5290106,
 37.5208118,
 37.5338278,
 37.4984617,
 37.5194583,
 37.5553972,
 37.5315144,
 37.5720711,
 37.5410215,
 37.55518259999999,
 37.5641841,
 37.5794642,
 37.5168782,
 37.5372246,
 37.5775632,
 37.52498620000001,
 37.528471,
 37.5125815,
 37.533388,
 37.5211162,
 37.580933,
 37.522317,
 37.5185268,
 37.5778359,
 37.52116669999999,
 37.5233174,
 37.5554828,
 37.5080089,
 37.5087755,
 37.5729794,
 37.5206978,
 37.5727213,
 37.6038613,
 37.5676318,
 37.5589643,
 37.5787038,
 37.5624579,
 37.5708033,
 37.5643946,
 37.5277368,
 37.5724391,
 37.5681851,
 37.5242472,
 37.5619851,
 37.6064763,
 37.5621121,
 37.5599696,
 37.568082,
 37.5536624,
 37.5444998,
 37.5716628,
 37.4916965,
 37.564234,
 37.5921011,
 37.5611017,
 37.5629599,
 37.5719444,
 37.5428827,
 37.5623429,
 37.5643946,
 37.634848,
 37.5637032,
 37.6115817,
 37.5764782,
 37.5051337,
 37.5602232,
 37.4955344,
 37.5577399,
 37.5665708,
 37.5099679,
 37.5727479,
 37.5681851,
 37.5136055,
 37.5580184,
 37.5357129,
 37.5033707,
 37.5088546,
 37.5592805,
 37.5227258,
 37.5346553,
 37.5871865,
 37.5761705,
 37.5676318,
 37.5665708,
 37.5677281,
 37.5219228,
 37.5465519,
 37.5183546,
 37.5888507,
 37.5544368,
 37.4811511,
 37.5764782,
 37.5611017,
 37.5709593,
 37.5277368,
 37.500441,
 37.5559981,
 37.500418,
 37.5693566,
 37.5727213,
 37.5002542,
 37.5282888,
 37.5033392,
 37.5206993,
 37.5027159,
 37.5658511,
 37.534768,
 37.4833062,
 37.552704,
 37.5384109,
 37.4924595,
 37.5640209,
 37.5805697,
 37.5805697,
 37.5003223,
 37.5003223,
 37.6723874,
 37.5649786,
 37.5067339,
 37.5177386,
 37.5740592,
 37.5484075,
 37.4723623,
 37.5668586,
 37.4916965,
 37.5343271,
 37.5036411,
 37.5698568,
 37.5580595,
 37.5095687,
 37.5256409,
 37.4809075,
 37.5554183,
 37.5193396,
 37.5000705,
 37.5748342,
 37.5587372,
 37.5374115,
 37.6099392,
 37.5597847,
 37.545172,
 37.5197151,
 37.4839283,
 37.4851331,
 37.5720382,
 37.5244943,
 37.5764888,
 37.5714145,
 37.5101803,
 37.520196,
 37.5529336,
 37.5566396,
 37.5774772,
 37.5732431,
 37.506459,
 37.5094176,
 37.4846853,
 37.4944838,
 37.5249301,
 37.5593822,
 37.6097148,
 37.5206031,
 37.486157,
 37.6218439,
 37.5620381,
 37.57234529999999,
 37.5165592,
 37.48142,
 37.54909079999999,
 37.5061352,
 37.5529284,
 37.4953675,
 37.5260551,
 37.4973807,
 37.5189298,
 37.5770555,
 37.5360164,
 37.5095982,
 37.6168751,
 37.6620529,
 37.5099014,
 37.5242472,
 37.4829886,
 37.4811924,
 37.568479,
 37.5384413,
 37.5420111,
 37.6088393,
 37.4666337,
 37.5614066,
 37.5339851,
 37.5552577,
 37.6154192,
 37.5565217,
 37.5825536,
 37.4854019,
 37.4832626,
 37.4684264,
 37.4848385,
 37.5343659,
 37.4548035,
 37.5191088,
 37.5720711,
 37.5415576,
 37.5787585,
 37.5384109,
 37.536717,
 37.5516488,
 37.5039936,
 37.56572269999999,
 37.5307075,
 37.5735713,
 37.4957913,
 37.5542311,
 37.5554218,
 37.5551174,
 37.6202262,
 37.5409436,
 37.5496522,
 37.6419931,
 37.521484,
 37.4777309,
 37.5862065,
 37.515437,
 37.5339866,
 37.5078806,
 37.533406,
 37.5345328,
 37.560848,
 37.5342068,
 37.5044253,
 37.5581419,
 37.5502148,
 37.56334890000001,
 37.5451854,
 37.4960234,
 37.4929207,
 37.5344968,
 37.543284,
 37.4903001,
 37.5454764,
 37.5368082,
 37.5253779,
 37.5253779,
 37.5085745,
 37.5671694,
 37.5573335,
 37.5041541,
 37.4993913,
 37.5395494,
 37.487682,
 37.5590216,
 37.5063744,
 37.5350889,
 37.5511057,
 37.5631824,
 37.4749499,
 37.5249519,
 37.5197387,
 37.5133386,
 37.51346220000001,
 37.5373206,
 37.5737422,
 37.5685081,
 37.6526089,
 37.51537709999999,
 37.5704116,
 37.5096928,
 37.5076129,
 37.5101935,
 37.5235501,
 37.4988512,
 37.5491883,
 37.5836114,
 37.466883,
 37.6034319,
 37.5070177,
 37.5402872,
 37.4847924,
 37.5145391,
 37.5148519,
 37.501937,
 37.5970377,
 37.5236323,
 37.5754505,
 37.5194647,
 37.5257531,
 37.4890668,
 37.5888507,
 37.5201371,
 37.5691731,
 37.5675168,
 37.5226172,
 37.5106925,
 37.5194647,
 37.5488759,
 37.5091322,
 37.5764782,
 37.5683689,
 37.560355,
 37.5475247,
 37.5194647,
 37.5244677,
 37.5991812,
 37.5643946,
 37.52206109999999,
 37.5639929,
 37.5674706,
 37.5277368,
 37.5733295,
 37.5398315,
 37.5189036,
 37.50097,
 37.5569776,
 37.5649903,
 37.5601211,
 37.5559521,
 37.5646275,
 37.5649903,
 37.5553677,
 37.5552327,
 37.5556456,
 37.5649903,
 37.5249265,
 37.5155245,
 37.473216,
 37.5726979,
 37.5278854,
 37.5538819,
 37.5453552,
 37.4970448,
 37.5400369,
 37.5099679,
 37.5251521,
 37.5022259,
 37.5667791,
 37.519303,
 37.5050305,
 37.5893931,
 37.55546289999999,
 37.5099679,
 37.5683426,
 37.4980613,
 37.5338391,
 37.4873002,
 37.5257176,
 37.5646275,
 37.5870598,
 37.5357859,
 37.5428827,
 37.5490343,
 37.5220939,
 37.54989580000001,
 37.5569776,
 37.572816,
 37.5095687,
 37.526034,
 37.5233872,
 37.5256192,
 37.5226509,
 37.5247396,
 37.5233093,
 37.5738938,
 37.5682285,
 37.5732778,
 37.5262559,
 37.4995278,
 37.5193063,
 37.5338752,
 37.5245436,
 37.5646275,
 37.5630843,
 37.5112108,
 37.5649903,
 37.5353936,
 37.5345261,
 37.4941391,
 37.5649903,
 37.5215733,
 37.5092632,
 37.5644408,
 37.4696208,
 37.526909,
 37.5215144,
 37.5367234,
 37.5562007,
 37.56487389999999,
 37.5180272,
 37.5874437,
 37.5505501,
 37.6620613,
 37.4808405,
 37.479681,
 37.523725,
 37.5171683,
 37.5228498,
 37.5185268,
 37.4805061,
 37.5253929,
 37.5246862,
 37.5791192,
 37.5488759,
 37.501861,
 37.5481306,
 37.51853180000001,
 37.520663,
 37.4976944,
 37.4936463,
 37.5644408,
 37.5569776,
 37.5011418,
 37.5644408,
 37.4815826,
 37.56514740000001,
 37.5219756,
 37.5253356,
 37.5673583,
 37.5623371,
 37.5502746,
 37.5254163,
 37.5384011,
 37.54686969999999,
 37.5825959,
 37.5679544,
 37.5228322,
 37.5502851,
 37.5294606,
 37.5319162,
 37.5252877,
 37.525244,
 37.5485961,
 37.5736116,
 37.520663,
 37.5302764,
 37.4939372,
 37.5230293,
 37.5605197,
 37.5772763,
 37.5745951,
 37.5153709,
 37.4977803,
 37.4931039,
 37.5657363,
 37.49816860000001,
 37.5516488,
 37.522897,
 37.5119992,
 37.5307075,
 37.5139884,
 37.5372246,
 37.5221882,
 37.529587,
 37.5409755,
 37.4988794,
 37.5775632,
 37.5257419,
 37.5775971,
 37.4817928,
 37.5230355,
 37.5577702,
 37.52018169999999,
 37.52188719999999,
 37.5244653,
 37.5463204,
 37.4892766,
 37.5361857,
 37.5267429,
 37.5534575,
 37.5537268,
 37.5569776,
 37.5530631,
 ...]

In [249]:
tasty_lng

[126.9956687,
 126.9960567,
 126.9944914,
 126.9487861,
 126.9802939,
 126.9995024,
 126.9598782,
 127.090441,
 126.8079443,
 126.8424984,
 126.9822511,
 126.9690527,
 126.9314898,
 126.9794234,
 126.9956395,
 127.0115462,
 127.0060337,
 127.123457,
 126.9287583,
 127.0105853,
 126.9033939,
 127.0362433,
 127.116351,
 127.0196248,
 126.9220183,
 126.9345308,
 126.9043096,
 127.1015177,
 126.9659356,
 126.9583202,
 127.0047622,
 127.0159469,
 127.0014858,
 126.9676919,
 127.037748,
 127.0745963,
 127.0230508,
 126.9436395,
 126.9209944,
 126.9977964,
 126.9993404,
 126.9388033,
 126.970118,
 126.9630108,
 126.9855787,
 127.0152454,
 127.0032176,
 126.8896689,
 127.0544003,
 126.9714088,
 127.0053062,
 126.9700629,
 126.9205144,
 127.0149047,
 126.9209454,
 126.9507921,
 126.9935094,
 126.9251276,
 127.1257514,
 126.9461731,
 126.8990655,
 127.0003447,
 126.990263,
 126.9375328,
 126.990696,
 126.9333177,
 126.9378747,
 126.9459548,
 126.9216129,
 126.9819915,
 126.9911251,
 126.893892,
 127.0342882,
 126.9162499,
 126.9092736,
 126.9365383,
 126.9605827,
 126.9655714,
 127.0538948,
 127.075158,
 127.0945912,
 126.9896655,
 126.8174624,
 126.9195649,
 126.989972,
 126.926226,
 126.9224152,
 127.0049665,
 126.9941753,
 126.9394086,
 126.9312481,
 127.0563938,
 127.0222731,
 127.0528396,
 127.0306743,
 126.9931114,
 127.0486691,
 126.990263,
 126.9857421,
 127.0042903,
 126.9591674,
 127.0440495,
 126.9440103,
 127.0450233,
 127.0324784,
 126.920862,
 126.9247166,
 126.9155757,
 126.979686,
 127.0436807,
 127.1231265,
 127.0347442,
 126.974192,
 126.9936301,
 127.1261994,
 126.9150324,
 126.982126,
 126.9994588,
 126.964804,
 126.9749738,
 126.9507921,
 126.9997423,
 127.0401427,
 127.0280119,
 126.973265,
 126.9660366,
 126.97369,
 126.9715553,
 127.0349193,
 127.0234316,
 126.988842,
 126.9831099,
 126.9804599,
 126.9222574,
 126.9945443,
 127.019082,
 126.9603402,
 126.9798759,
 127.1122898,
 126.9893246,
 126.978059,
 127.0385258,
 126.9449745,
 126.9577115,
 127.0446392,
 127.0353252,
 127.0222661,
 127.1113264,
 127.0360249,
 126.9997932,
 126.9995022,
 127.00068,
 126.9241294,
 126.929946,
 126.9557705,
 126.9816244,
 127.1261994,
 126.9928127,
 126.9987092,
 126.9838844,
 127.0534476,
 127.0442151,
 126.9274249,
 127.000555,
 127.0273463,
 126.9823443,
 126.9085636,
 127.0383095,
 127.0060337,
 126.9234064,
 126.9044609,
 126.9678081,
 126.9903716,
 126.9240143,
 126.990696,
 126.9781522,
 127.0205872,
 127.008782,
 127.0414525,
 126.9920724,
 126.9274887,
 126.9937105,
 126.9801302,
 126.9861857,
 127.0124869,
 126.9266909,
 127.0220554,
 126.99846,
 126.9999638,
 126.9201846,
 127.0433923,
 126.9878079,
 126.9310419,
 126.9995024,
 127.0090933,
 126.991142,
 126.9969143,
 126.9524961,
 127.0337156,
 127.041196,
 127.0339839,
 127.0360176,
 127.0418667,
 127.0419814,
 126.9842227,
 126.9249288,
 126.9390509,
 126.9850185,
 126.9120236,
 127.0380342,
 126.990772,
 126.9191339,
 126.9807076,
 127.0326953,
 127.0049805,
 127.0263967,
 126.9860787,
 126.9897851,
 127.0021768,
 126.987206,
 126.9521717,
 126.9978699,
 127.0322299,
 127.0390753,
 127.0225815,
 126.9931764,
 126.9074328,
 126.9045778,
 126.9055936,
 127.0202251,
 126.9778685,
 127.0667517,
 126.9880038,
 126.9953023,
 126.9969941,
 126.9266909,
 126.913247,
 126.9269719,
 127.0023817,
 126.8161124,
 127.0245102,
 127.0376706,
 127.0414549,
 127.055795,
 127.018463,
 126.9798544,
 126.9714855,
 126.9196896,
 126.9394926,
 126.8759682,
 126.986642,
 126.9816196,
 127.0333637,
 126.988065,
 126.9874586,
 126.9922751,
 126.9888022,
 127.0404256,
 127.0405903,
 126.9433236,
 127.0300002,
 126.9749988,
 126.9968978,
 126.9736976,
 127.0597808,
 126.9200847,
 126.9909488,
 127.064502,
 127.0336876,
 126.9833797,
 126.9655941,
 126.9206978,
 127.0000977,
 127.0242968,
 126.9828195,
 127.0471717,
 127.0181087,
 127.0441159,
 126.9798303,
 126.9733227,
 126.9719961,
 127.0011153,
 126.997458,
 127.0653143,
 126.9881864,
 127.0271993,
 126.9216785,
 127.0555386,
 126.997589,
 127.0435083,
 127.0377523,
 126.9221506,
 126.9262603,
 126.9875523,
 126.9212574,
 126.9240501,
 126.9710447,
 127.0528285,
 126.9125693,
 127.0388643,
 126.9933331,
 126.9817259,
 126.9871635,
 126.9901471,
 126.9257641,
 126.9253512,
 126.9096426,
 126.9237503,
 127.1077118,
 126.9696045,
 126.9235539,
 126.9322345,
 126.9816929,
 126.9875733,
 127.0408297,
 126.9915618,
 126.9780502,
 127.0234988,
 127.1217027,
 127.0376204,
 126.9435518,
 126.9491095,
 126.9705513,
 126.9696464,
 126.9708763,
 126.9696221,
 127.0203885,
 127.0338926,
 127.0675852,
 126.8998043,
 126.9910631,
 127.0010837,
 126.9835683,
 126.9839412,
 126.9746967,
 126.9272258,
 126.9124799,
 126.9245418,
 126.9252365,
 126.9241436,
 127.0054223,
 127.0370649,
 126.9196523,
 127.0243876,
 127.038577,
 126.973866,
 127.0582996,
 127.0967883,
 126.9782559,
 127.0204895,
 126.9745762,
 126.9806796,
 126.9702936,
 126.9777521,
 127.0003797,
 127.0452475,
 127.0521928,
 126.931704,
 126.9984905,
 127.0079105,
 127.0261533,
 127.0449611,
 127.0127126,
 127.0342215,
 127.0195883,
 127.0667173,
 127.048828,
 127.1359232,
 127.036573,
 127.0527715,
 126.9902157,
 126.9870257,
 126.9226201,
 127.0360301,
 127.0052241,
 127.115557,
 126.95448,
 127.0811065,
 126.9882689,
 127.0820557,
 126.9894397,
 127.0361637,
 127.0195097,
 126.9810799,
 126.9477996,
 127.0558774,
 127.0476844,
 127.1068019,
 127.0325704,
 127.0101363,
 127.0349345,
 126.905854,
 126.9390743,
 127.0686501,
 127.0515111,
 126.9921356,
 127.0976368,
 126.9459106,
 126.9721203,
 127.0372438,
 126.9940824,
 126.9674644,
 126.9813165,
 127.0502604,
 126.8887809,
 126.9459084,
 126.9816605,
 126.9291233,
 127.0458609,
 127.1351394,
 126.9072201,
 127.0529694,
 127.0108015,
 126.9180872,
 127.031021,
 126.8105468,
 126.9208439,
 126.8978444,
 126.9826723,
 126.8916997,
 126.9699973,
 126.9731842,
 127.0206883,
 127.0412991,
 127.0491482,
 126.9697169,
 127.0222168,
 126.9352997,
 127.0777683,
 126.9187509,
 127.1298888,
 127.1196205,
 127.0117594,
 126.9855235,
 127.022883,
 127.0330583,
 126.956493,
 127.0211971,
 127.0664992,
 126.9968882,
 126.9274249,
 126.9991618,
 126.9144921,
 126.9921889,
 127.0160439,
 127.0177807,
 127.0300945,
 127.0911156,
 127.0428933,
 127.0949264,
 126.9561483,
 126.9189417,
 127.0098223,
 126.9949674,
 127.0352647,
 126.8910219,
 126.9893551,
 127.0359506,
 127.0494018,
 126.975368,
 126.9883028,
 126.8661165,
 127.0148086,
 126.971081,
 127.0036388,
 127.0370746,
 126.9205348,
 126.9948259,
 126.9319346,
 126.9794573,
 126.9795249,
 127.0103281,
 127.0363404,
 127.0206269,
 127.0019476,
 126.8650921,
 126.9073104,
 126.9870995,
 126.9911066,
 126.9015412,
 127.0715056,
 126.9973421,
 126.9953023,
 127.0648161,
 126.9675254,
 127.0510292,
 126.8974902,
 126.8899081,
 126.9968794,
 126.981772,
 127.0283956,
 127.0124869,
 126.991773,
 127.0261584,
 126.9077889,
 127.0056842,
 127.0050347,
 126.9837153,
 127.0275666,
 126.9962178,
 127.0643169,
 127.028291,
 127.0585824,
 127.0361868,
 127.0196053,
 126.926893,
 127.0339206,
 126.9993244,
 126.9507921,
 127.0388643,
 126.9263369,
 126.923167,
 126.9469899,
 126.954604,
 127.0394766,
 126.9130598,
 127.0419107,
 126.9988811,
 127.0321384,
 126.9242423,
 127.0363736,
 127.009466,
 127.0078936,
 127.0492375,
 127.0252039,
 126.8718864,
 126.9265035,
 126.943119,
 126.992498,
 126.921865,
 126.9749493,
 127.0081333,
 127.0357138,
 127.044007,
 126.9239055,
 127.0055198,
 126.9890677,
 126.9493516,
 126.9302341,
 126.9234078,
 126.9697472,
 126.9797813,
 126.9997932,
 126.9715804,
 127.0498222,
 127.040079,
 127.0555616,
 127.0018222,
 126.9966624,
 126.966831,
 126.9201153,
 126.9806796,
 126.969275,
 126.9673506,
 127.0360064,
 126.8577259,
 127.1040485,
 127.0261818,
 126.9898094,
 126.9268688,
 126.9838844,
 126.9641289,
 126.9804953,
 126.9770018,
 127.0267258,
 126.9737145,
 126.9798544,
 126.9850185,
 127.0324784,
 127.0269613,
 126.9987092,
 126.8922003,
 126.9739462,
 127.0272576,
 126.9850947,
 126.9770797,
 126.9984559,
 126.9352978,
 126.9520176,
 126.9827678,
 126.9072201,
 126.9998714,
 127.0159379,
 126.9838034,
 126.9728983,
 126.9972222,
 126.9469899,
 126.9744756,
 126.9850185,
 127.070507,
 126.9798573,
 127.0381509,
 126.9915135,
 127.0421645,
 127.0060337,
 127.025143,
 127.0076342,
 126.964804,
 127.1261994,
 127.0045688,
 126.9987092,
 127.0503273,
 126.945077,
 126.8956718,
 127.0650401,
 127.0231872,
 126.8393255,
 127.0433923,
 126.9742088,
 126.9815919,
 126.9734743,
 126.9804953,
 126.964804,
 127.0450233,
 127.0399295,
 126.9463996,
 126.9052681,
 127.0050371,
 126.9316504,
 127.0137688,
 126.9915135,
 126.9838034,
 126.9798759,
 127.0324784,
 127.1122898,
 126.8566983,
 127.0326953,
 126.9794745,
 126.9838844,
 127.0631304,
 127.1256723,
 127.0198027,
 127.019975,
 127.0352647,
 126.9287741,
 126.9965651,
 127.0124515,
 126.918676,
 127.0684806,
 127.011536,
 126.9961072,
 127.0436807,
 127.0436807,
 127.0402955,
 127.0402955,
 127.0857083,
 127.0209867,
 127.025521,
 126.9095881,
 126.8110915,
 127.0222819,
 126.9352922,
 127.0067933,
 126.9072201,
 126.9953581,
 127.0967797,
 126.9911251,
 126.9074864,
 127.057967,
 126.9186176,
 126.9460094,
 126.9243398,
 127.0363736,
 127.0248522,
 126.9848281,
 126.9362204,
 126.9872536,
 126.9311367,
 126.9769543,
 127.0769267,
 127.0210286,
 127.012276,
 127.1238462,
 127.003642,
 126.9596906,
 126.8307466,
 126.8404209,
 127.0399249,
 126.9272258,
 126.9221041,
 126.9022635,
 126.8940975,
 126.9860961,
 127.0473866,
 127.021093,
 127.0399505,
 127.0282134,
 127.0385537,
 126.8668648,
 126.9313336,
 127.0353252,
 127.0161081,
 127.0724044,
 126.9779829,
 127.0108015,
 126.8893751,
 126.9541984,
 126.9580474,
 127.0413317,
 126.9223249,
 127.0184899,
 126.9636151,
 126.9203959,
 126.9076398,
 127.0307346,
 126.9622111,
 127.0847533,
 126.9187588,
 127.0415924,
 127.1089643,
 126.8922003,
 127.044287,
 126.9474402,
 126.9782221,
 127.0683455,
 126.9509005,
 126.9556209,
 127.0429578,
 126.9155757,
 126.9914931,
 126.8998754,
 127.0944133,
 126.975145,
 127.0008027,
 127.0348994,
 127.036199,
 127.043022,
 127.0390609,
 126.9881864,
 126.9506582,
 127.0250739,
 126.9890677,
 127.0685172,
 126.9816196,
 127.0684806,
 127.1375272,
 126.9150324,
 127.053979,
 126.9884789,
 126.9216785,
 126.9856037,
 127.0273449,
 126.9191508,
 126.9193927,
 126.816061,
 126.9176897,
 126.9954877,
 126.9227195,
 127.0243042,
 127.0310953,
 126.8898822,
 126.982048,
 126.8493348,
 126.9923077,
 127.0236206,
 126.9945886,
 126.9891572,
 126.9240501,
 127.0677114,
 127.0077601,
 126.9652488,
 126.9226525,
 127.0358043,
 126.9534338,
 127.1357868,
 127.0283444,
 126.9616472,
 127.0706865,
 126.926404,
 126.9394926,
 127.1392925,
 127.0497957,
 127.0497957,
 127.0657455,
 126.9286817,
 126.9860967,
 127.0538876,
 127.027599,
 127.0699204,
 127.0087144,
 126.9364846,
 127.0903676,
 126.9948829,
 126.9226363,
 127.0150869,
 126.981144,
 127.0251608,
 127.0293475,
 126.9458849,
 126.9452938,
 126.9870557,
 126.9858788,
 126.9646006,
 126.9383187,
 127.0201147,
 127.0715869,
 127.0227781,
 127.0237225,
 127.0585824,
 127.0379356,
 127.0371341,
 126.9212493,
 126.9111551,
 127.0425974,
 126.9101471,
 127.0367227,
 126.9422931,
 127.0951896,
 127.0191404,
 127.0588021,
 127.0595671,
 126.9841211,
 127.0356392,
 126.9816929,
 126.9398326,
 127.0472658,
 127.0311919,
 127.0050371,
 126.9263986,
 126.987984,
 126.9928127,
 127.0324914,
 127.0240308,
 126.9398326,
 126.9237503,
 127.0608511,
 126.9915135,
 126.97779,
 126.9968978,
 126.8187885,
 126.9398326,
 127.0449675,
 126.958681,
 126.9850185,
 127.0418667,
 126.9835683,
 127.0306743,
 127.0324784,
 126.9866157,
 126.9433236,
 127.0291479,
 127.0318898,
 127.0059138,
 126.981369,
 126.9943973,
 127.010089,
 126.9780619,
 126.981369,
 127.0021234,
 127.1108197,
 127.1113264,
 126.981369,
 127.0325905,
 127.034187,
 127.0486691,
 126.973265,
 127.0388643,
 126.9279937,
 127.0853009,
 126.99846,
 126.9920724,
 127.1261994,
 127.045702,
 127.0660067,
 126.992843,
 126.9314898,
 127.0549725,
 126.9988589,
 126.9181766,
 127.1261994,
 126.9304738,
 127.0534476,
 126.9937105,
 127.051556,
 127.0471033,
 126.9780619,
 126.9693777,
 126.9990713,
 126.9469899,
 126.9834104,
 127.0207068,
 126.9232456,
 127.0059138,
 126.9714079,
 127.057967,
 127.0412231,
 127.0220554,
 127.0410689,
 127.0359516,
 127.0423789,
 127.0490278,
 126.9831801,
 126.9758336,
 126.9608655,
 127.0370388,
 126.9988566,
 127.0225815,
 127.005734,
 127.0429935,
 126.9780619,
 127.0064971,
 127.0494663,
 126.981369,
 127.010044,
 126.9976806,
 126.9947681,
 126.981369,
 127.0372868,
 127.0241059,
 126.9801302,
 127.0446392,
 127.0451309,
 127.0206883,
 126.8923438,
 126.9282378,
 126.9903716,
 127.0281988,
 127.0294393,
 126.9557705,
 127.0329025,
 126.9491095,
 126.9547122,
 127.0359559,
 127.0390753,
 127.0205872,
 126.9806796,
 127.0045478,
 127.049188,
 127.0415786,
 126.8902941,
 126.9155739,
 127.0104507,
 126.9221506,
 127.0180723,
 127.0215773,
 126.9944298,
 126.9924553,
 126.9801302,
 127.0059138,
 127.0020786,
 126.9801302,
 127.0446791,
 126.9240143,
 127.0363404,
 127.0376706,
 126.9851356,
 126.9266909,
 126.9223031,
 127.0367351,
 127.0013526,
 126.9521717,
 126.980563,
 126.9811214,
 127.036421,
 126.920387,
 127.1218503,
 127.0704293,
 127.0378715,
 127.0361637,
 126.9219221,
 126.9742022,
 127.0215773,
 126.9969941,
 127.0010301,
 127.0457053,
 126.992856,
 126.9803661,
 126.9709533,
 127.040881,
 127.0261927,
 127.018143,
 126.9286298,
 127.0020029,
 126.9150324,
 127.0398344,
 127.1262322,
 126.9216785,
 127.0435083,
 126.9997932,
 127.038995,
 126.921526,
 126.9490468,
 126.9976269,
 126.9715804,
 127.0419814,
 126.9884326,
 127.0133601,
 127.0365994,
 126.913247,
 126.9676851,
 127.0311557,
 127.0414525,
 127.0242025,
 126.9940824,
 127.0013878,
 127.0358887,
 126.9247166,
 126.9322547,
 127.0059138,
 126.9166642,
 ...]

In [251]:
result16['lat'] = tasty_lat
result16['lng'] = tasty_lng

In [270]:
result16

,식당명,대표메뉴,주소,lat,lng
0,쌍다리돼지불백,돼지불백,서울특별시 성북구 성북동 109-2,37.593475,126.995669
1,성북동 돼지갈비집,돼지불백,서울특별시 성북구 성북동 114-2,37.593248,126.996057
2,계림,닭볶음탕,서울특별시 종로구 종로3가 167,37.570132,126.994491
3,마포원조떡볶이,떡볶이,서울특별시 마포구 도화동 345-4,37.540280,126.948786
4,서린낙지,낙지볶음,서울특별시 종로구 종로1가 24 르메이에르 종로타운 2층,37.571144,126.980294
...,...,...,...,...,...
1906,부원면옥,평양냉면,서울특별시 중구 남창동 47-10,37.558399,126.977593
1907,야마야,일본가정식,서울특별시 종로구 새문안로3길 12,37.571279,126.972931
1908,정원순두부,순두부,서울특별시 중구 세종대로11길 30,37.562308,126.974192
1909,원대구탕,대구탕,서울특별시 용산구 한강대로62가길 8,37.534655,126.974209
1910,목천집,매생이 칼국수,서울특별시 서초구 효령로52길 69,37.481262,127.013393

In [271]:
seoul = folium.Map(location=[37.5665, 126.9780], zoom_start=13)
seoul

In [273]:
for i in result16.index:
    folium.Marker(
        [result16['lat'][i],result16['lng'][i]],
        radius = 10,
        color='#3186cc',
        fill_color='#3186cc',
        fill=True,
        tooltip = ('<b>상호명</b>:' + result16['식당명'][i] + '<br>' +
                  '<b>대표메뉴</b>:' + result16['대표메뉴'][i])
        ).add_to(seoul)
    
seoul

TypeError: can only concatenate str (not "float") to str

In [265]:
result16.dtypes

식당명      object
대표메뉴     object
주소       object
lat     float64
lng     float64
dtype: object

In [257]:
result16['식당명']

0         쌍다리돼지불백
1       성북동 돼지갈비집
2              계림
3         마포원조떡볶이
4            서린낙지
          ...
1906         부원면옥
1907          야마야
1908        정원순두부
1909         원대구탕
1910          목천집
Name: 식당명, Length: 1911, dtype: object

In [258]:
result16['대표메뉴']

0          돼지불백
1          돼지불백
2          닭볶음탕
3           떡볶이
4          낙지볶음
         ...
1906       평양냉면
1907      일본가정식
1908        순두부
1909        대구탕
1910    매생이 칼국수
Name: 대표메뉴, Length: 1911, dtype: object